<script setup>
defineProps({
  color: {
    type: String,
    default: "success",
  },
  size: {
    type: String,
    default: "md",
  },
  variant: {
    type: String,
    default: "fill",
  },
  fullWidth: {
    type: Boolean,
    default: false,
  },
  active: {
    type: Boolean,
    default: false,
  },
});
const getClasses = ( size, fullWidth, active) => {
  let sizeValue, fullWidthValue, activeValue;

  // Setting the button variant and color
  

  sizeValue = size ? `btn-${size}` : null;

  fullWidthValue = fullWidth ? `w-100` : null;

  activeValue = active ? `active` : null;

  return ` ${sizeValue} ${fullWidthValue} ${activeValue}`;
};
</script>
<template>
  <button
    class="btn mb-0 argonButtonWhite"
    :class="getClasses( size, fullWidth, active)"
  >
    <slot />
  </button>
</template>
<style>
 .argonButtonWhite {
    background: white !important;
    color: #AE147D !important;
  }
</style>
