<script setup>
import { computed, onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import { faMoneyBillTransfer } from '@fortawesome/free-solid-svg-icons';
import { library } from '@fortawesome/fontawesome-svg-core';
import SidenavItem from "./SidenavItem.vue";
import transactions from "@/assets/img/transactions.png";
import transfer from "@/assets/img/transfer-1.png";
// import SidenavCard from "./SidenavCard.vue";

library.add(faMoneyBillTransfer);

const store = useStore();
const isRTL = computed(() => store.state.isRTL);
const role = ref();

const getRoute = () => {
  const route = useRoute();
  const routeArr = route.path.split("/");
  return routeArr[1];
};

onMounted(() => {
  role.value = JSON.parse(sessionStorage.getItem('role'));
});
</script>
<template>
  <div
    class="collapse navbar-collapse w-auto h-auto h-100"
    id="sidenav-collapse-main"
  >
    <ul class="navbar-nav">
      <li class="nav-item" v-if="role?.name == 'Admin'" >
        <sidenav-item
          to="/dashboard"
          :class="getRoute() === 'dashboard-defaul' ? 'active' : ''"
          :navText="isRTL ? 'لوحة القيادة' : 'Dashboard'"
        >
          <template v-slot:icon>
            <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
          </template>
        </sidenav-item>
      </li>

      <li class="nav-item" v-if="role?.name == 'Admin'">
        <sidenav-item
          to="/utilisateurs"
          :class="getRoute() === 'utilisateurs' ? 'active' : ''"
          :navText="isRTL ? 'تسجيل الدخول' : 'Utilisateurs'"
        >
          <template v-slot:icon>
            <i class="fa fa-users text-danger text-sm opacity-10"></i>
          </template>
        </sidenav-item>
      </li>

      <li class="nav-item">
        <sidenav-item
          to="/articles"
          :class="getRoute() === 'articles' ? 'active' : ''"
          :navText="isRTL ? 'تسجيل الدخول' : 'Articles'"
        >
          <template v-slot:icon>
            <i class="ni ni-tag text-dark text-sm opacity-10"></i>
          </template>
        </sidenav-item>
      </li>

      <li class="nav-item">
        <sidenav-item
          to="/contenu"
          :class="getRoute() === 'contenu' ? 'active' : ''"
          :navText="isRTL ? 'تسجيل الدخول' : 'Contenu'"
        >
          <template v-slot:icon>
            <i class="ni ni-books text-warning text-sm opacity-10"></i>
          </template>
        </sidenav-item>
      </li>

      <!--li class="nav-item">
        <sidenav-item
          to="/messages"
          :class="getRoute() === 'messages' ? 'active' : ''"
          :navText="isRTL ? 'تسجيل الدخول' : 'Messages'"
        >
          <template v-slot:icon>
            <i class="ni ni-chat-round text-success text-sm opacity-10"></i>
          </template>
        </sidenav-item>
      </!--li-->

      <li class="nav-item" v-if="role?.name == 'Admin'" >
        <sidenav-item
          to="/packages"
          :class="getRoute() === 'packages' ? 'active' : ''"
          :navText="isRTL ? 'تسجيل الدخول' : 'Packages'"
        >
          <template v-slot:icon>
            <i class="ni ni-bag-17 text-primary text-sm opacity-10"></i>
          </template>
        </sidenav-item>
      </li>

      <li class="nav-item" v-if="role?.name == 'Admin'" >
        <sidenav-item
          to="/abonnements"
          :class="getRoute() === 'abonnements' ? 'active' : ''"
          :navText="isRTL ? 'تسجيل الدخول' : 'Abonnements'"
        >
          <template v-slot:icon>
            <i class="ni ni-archive-2 text-primary text-sm opacity-10"></i>
          </template>
        </sidenav-item>
      </li>

      <li class="nav-item" v-if="role?.name == 'Admin'" >
        <sidenav-item
          to="/aggregateurs"
          :class="getRoute() === 'aggregateurs' ? 'active' : ''"
          :navText="isRTL ? 'تسجيل الدخول' : 'Aggregateurs'"
        >
          <template v-slot:icon>
            <img :src="transfer" alt="" width="40" height="40"/>
          </template>
        </sidenav-item>
      </li>

      <li class="nav-item" v-if="role?.name == 'Admin'" >
        <sidenav-item
          to="/transactions"
          :class="getRoute() === 'transactions' ? 'active' : ''"
          :navText="isRTL ? 'تسجيل الدخول' : 'Transactions'"
        >
          <template v-slot:icon>
            <img :src="transactions" alt="" width="30" height="30"/>
          </template>
        </sidenav-item>
      </li>
    </ul>
  </div>
</template>
<style scoped>
  i, custom-icon-color path{
    color: #AE147D !important;
  }
</style>