<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>logo-mod.png" />
    <title>DOTOMI - Dashboard</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="bg-gray-100">
    <noscript>
      <strong>
        Nous sommes désolés, mais Vue Argon Dashboard 2 ne fonctionne pas correctement sans JavaScript activé. Veuillez l'activer pour continuer.
      </strong>
    </noscript>

    <div id="app" class="g-sidenav-show"></div>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Initialisation Bootstrap Dropdown avec Vue -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('[data-bs-toggle="dropdown"]').forEach(el => {
          new bootstrap.Dropdown(el);
        });
      });
    </script>
  </body>
</html>
