<template>
    <div v-if="isVisible" class="modal-overlay" @click.self="close">
      <div class="modal-content">
        <button class="modal-close" @click="close"><i style="color: black !important; font-size: 1.5em; font-weight: 400;"  class="ni ni-fat-remove"></i></button>
        <slot></slot>
      </div>
    </div>
  </template>
  
  <script setup>
  import { computed } from 'vue';
  
  // Define props
  const props = defineProps({
    isVisible: {
      type: Boolean,
      required: true
    }
  });
  
  // Define emits
  const emit = defineEmits(['update:isVisible']);
  
  // Create a computed property to reflect visibility
  const isVisible = computed(() => props.isVisible);
  
  // Define the close function
  function close() {
    emit('update:isVisible', false);
  }
  </script>
  
  <style scoped>
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .modal-content {
    background: white;
    padding: 26px;
    margin: 26px;
    border-radius: 8px;
    position: absolute;
    z-index: 10000;
    max-width: 600px;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  </style>
  