<script setup>
import { ref, onMounted, defineEmits, watch, nextTick } from 'vue';
import setNavPills from "@/assets/js/nav-pills.js";

const emit = defineEmits(['update:activeTabCarrousel']);
const activeTabCarrousel = ref('#');

const handleTabClick = (event) => {
  const href = event.target.getAttribute('href');
  if (href) {
    activeTabCarrousel.value = href;
    emit('update:activeTabCarrousel', href);
  }
};

const props = defineProps({
  section: {
    type: String,
    required: true
  }
});

const initNavPills = () => {
  setNavPills();

  // Ajout de l'écouteur d'événement sur les clics des onglets
  document.querySelectorAll('.nav-link').forEach((element) => {
    element.removeEventListener('click', handleTabClick); // Nettoyer les anciens écouteurs
    element.addEventListener('click', handleTabClick); // Ajouter un nouvel écouteur
  });
};

onMounted(() => {
  nextTick(() => {
    initNavPills();
  });
});

watch(() => props.section, async (newSection) => {
  activeTabCarrousel.value = newSection === 'event' ? '#tousEvents' : '#tousCarrousels';
  emit('update:activeTabCarrousel', activeTabCarrousel.value);

  // Attendre la prochaine mise à jour du DOM avant de réinitialiser les onglets
  await nextTick();
  initNavPills();
});
</script>

<template>
  <div class="nav-wrapper position-relative end-0">
    <ul class="nav nav-pills nav-fill p-1" role="tablist" v-if="props.section == 'event'">
      <li class="nav-item">
        <a
          class="tousEvents nav-link mb-0 px-0 py-1 active"
          data-bs-toggle="tab"
          href="#tousEvents"
          role="tab"
          aria-selected="false"
          >Tous</a
        >
      </li>
      <li class="nav-item">
        <a
          class="passeEvents nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          
          href="#passeEvents"
          role="tab"
          aria-selected="false"
          >Passé</a
        >
      </li>
      <li class="nav-item">
        <a
          class="avenirEvents nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          
          href="#avenirEvents"
          role="tab"
          aria-selected="false"
          >A venir</a
        >
      </li>
    </ul>
    <ul v-else class="nav nav-pills nav-fill p-1" role="tablist">
      <li class="nav-item">
        <a
          class="ancienCarrousels nav-link mb-0 px-0 py-1 active "
          data-bs-toggle="tab"
          href="#tousCarrousels"
          role="tab"
          aria-selected="true"
          >Tous</a
        >
      </li>
      <li class="nav-item">
        <a
          class="ancienCarrousels nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          href="#ancienCarrousels"
          role="tab"
          aria-selected="false"
          >Inactifs</a
        >
      </li>
      <li class="nav-item">
        <a
          class="actuelCarrousels nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          
          href="#actuelCarrousels"
          role="tab"
          aria-selected="false"
          >Actifs</a
        >
      </li>
    </ul>
  </div>
</template>
<style scoped>
  .nav-item{
    padding-left: 20px;
    padding-right: 20px;
  }
</style>