<script setup>
import { ref, onMounted, defineEmits } from 'vue';
import setNavPills from "@/assets/js/nav-pills.js";

// Déclarer l'émission d'événements
const emit = defineEmits(['update:activeTab']);

// Propriété réactive pour suivre l'onglet actif
const activeTab = ref('#');

// Fonction pour gérer les changements d'onglet
const handleTabClick = (event) => {
  const href = event.target.getAttribute('href');
  if (href) {
    activeTab.value = href;
    // Émettre l'événement vers le parent
    emit('update:activeTab', href);
  }
};

onMounted(() => {
  setNavPills();

  // Ajout de l'écouteur d'événement sur les clics des onglets
  document.querySelectorAll('.nav-link').forEach((element) => {
    element.addEventListener('click', handleTabClick);
  });
});
</script>
<template>
  <div class="nav-wrapper position-relative end-0">
    <ul class="nav nav-pills nav-fill p-1" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1 active active"
          data-bs-toggle="tab"
          href="#tous"
          role="tab"
          aria-selected="true"
          >Tous</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          href="#actuel"
          role="tab"
          aria-selected="false"
          >Actifs</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          href="#ancien"
          role="tab"
          aria-selected="false"
          >Expirés</a
        >
      </li>
    </ul>
  </div>
</template>
<style scoped>
  .nav-item{
    padding-left: 20px;
    padding-right: 20px;
  }
</style>