<template>
    <nav aria-label="Page navigation" :class="props.class">
      <ul class="pagination">
        <!-- Previous Button -->
        <li class="page-item previous" :class="{ disabled: currentPage === 1 }">
          <a class="page-link" href="#" @click.prevent="changePage(currentPage - 1)">
            <font-awesome-icon icon="chevron-left" />
          </a>
        </li>
  
        <!-- Pagination Links -->
        <template v-if="totalPages <= 3">
          <li class="page-item" v-for="page in totalPages" :key="page" :class="{ active: page === currentPage }">
            <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
          </li>
        </template>
        <template v-else>
          <li v-if="currentPage > 2" class="page-item">
            <a class="page-link" href="#" @click.prevent="changePage(1)">1</a>
          </li>
          <li v-if="currentPage > 3" class="page-item disabled">
            <span class="page-link">...</span>
          </li>
  
          <li v-for="page in visiblePages" :key="page" class="page-item" :class="{ active: page === currentPage }">
            <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
          </li>
  
          <li v-if="currentPage < totalPages - 2" class="page-item disabled">
            <span class="page-link">...</span>
          </li>
          <li v-if="currentPage < totalPages - 1" class="page-item">
            <a class="page-link" href="#" @click.prevent="changePage(totalPages)">{{ totalPages }}</a>
          </li>
        </template>
  
        <!-- Next Button -->
        <li class="page-item next" :class="{ disabled: currentPage === totalPages }">
          <a class="page-link" href="#" @click.prevent="changePage(currentPage + 1)">
            <font-awesome-icon icon="chevron-right" />
          </a>
        </li>
      </ul>
    </nav>
  </template>
<script setup>
import { faChevronLeft, faChevronRight } from '@fortawesome/free-solid-svg-icons';
import { defineProps, defineEmits, computed } from 'vue';
import { library } from '@fortawesome/fontawesome-svg-core';

library.add(faChevronLeft, faChevronRight);

const props = defineProps({
  totalItems: {
    type: Number,
    required: true
  },
  itemsPerPage: {
    type: Number,
    required: true
  },
  currentPage: {
    type: Number,
    required: true
  },
  class: {
    type: String
  }
});

const emit = defineEmits(['page-change']);

const totalPages = computed(() => Math.ceil(props.totalItems / props.itemsPerPage));

// Calculer les pages visibles autour de la page actuelle
const visiblePages = computed(() => {
  const pages = [];
  const range = 1; // Nombre de pages à afficher autour de la page actuelle

  const start = Math.max(2, props.currentPage - range);
  const end = Math.min(totalPages.value - 1, props.currentPage + range);

  for (let i = start; i <= end; i++) {
    pages.push(i);
  }

  return pages;
});

const changePage = (page) => {
  if (page > 0 && page <= totalPages.value) {
    emit('page-change', page);
  }
};
</script>
<style scoped>
.page-item.active .page-link {
  border-color: #ff7fd2;
  background-color: #ff7fd2;
}

nav {
  margin-top: 25px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous {
  margin-right: 7px;
}

.next {
  margin-left: 7px;
}

.page-item.disabled .page-link {
  cursor: not-allowed;
}

.page-link {
  color: #000;
  text-decoration: none;
}

.page-link:hover {
  color: #ff7fd2;
}
</style>
  