<script setup>
import noProfile from "@/assets/img/noProfile.png";

const API_URL = process.env.VUE_APP_API_URL;
defineProps({
  user: {
    type: Object
  },
  role: {
    type: Object
  },
});
</script>

<template>
    <div class="card card-profile">
      <img
        src="../../../assets/img/bg-profile.jpg"
        alt="Image placeholder"
        class="card-img-top"
      />
      <div class="row justify-content-center">
        <div class="col-4 col-lg-4 order-lg-2">
          <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
            <a href="javascript:;">
              <img
                :src="user?.avatarPicture ? `${API_URL}${user.avatarPicture}` : noProfile"
                class="rounded-circle img-fluid border border-2 border-white"
                crossorigin="use-credentials"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="row">
          
        </div>
        <div class="text-center mt-4">
          <h5>
            {{user?.name}} {{user?.firstname}}
            <span class="font-weight-light"></span>
          </h5>
          <div class="h6 font-weight-300">
            <i class="ni location_pin mr-2"></i>{{user?.locality}} 
          </div>
          <div class="h6 font-weight-300">
            <i class="ni location_pin mr-2"></i>{{user?.email}}
          </div>
          <div class="h6 font-weight-300">
            <i class="ni location_pin mr-2"></i>{{user?.phoneNumber}}
          </div>
          <div class="h6 mt-4">
            <i class="ni business_briefcase-24 mr-2"></i>{{role?.name}} {{ role?.name === 'Gynecologue' 
                ? `- ${user?.GynecologistInfos?.profession || 'Non spécifié'}`
                : role?.name === 'Père Éducateur' 
                    ? `- ${user?.FatherEducatorInfos?.profession || 'Non spécifié'}`
                    : '' }}
          </div>
          <div>
            <i class="ni education_hat mr-2"></i>{{ role?.name === 'Gynecologue' 
                ? `${user?.GynecologistInfos?.education || 'Non spécifié'}`
                : role?.name === 'Père Éducateur' 
                    ? `${user?.FatherEducatorInfos?.education || 'Non spécifié'}`
                    : '' }}
          </div>
        </div>
      </div>
    </div>
  </template>
  