<script setup>
import { onMounted, watch } from "vue";
import Chart from "chart.js/auto";

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
  height: {
    type: String,
    default: "300",
  },
  title: {
    type: String,
    default: "",
  },
  description: {
    type: String,
    default: "",
  },
  chart: {
    type: Object,
    required: true,
    // Correction de la déclaration de type
    labels: Array,
    datasets: Array, // Au lieu d'un objet, cela devrait être un tableau
  },
});

let chartInstance = null; // Référence pour l'instance de graphique

const createChart = () => {
  const gradientLineChart = document.getElementById(props.id).getContext("2d");

  var gradientStroke1 = gradientLineChart.createLinearGradient(0, 230, 0, 50);
  gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
  gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
  gradientStroke1.addColorStop(0, "rgba(203,12,159,0)"); // Couleurs

  var gradientStroke2 = gradientLineChart.createLinearGradient(0, 230, 0, 50);
  gradientStroke2.addColorStop(1, "rgba(20,23,39,0.2)");
  gradientStroke2.addColorStop(0.2, "rgba(72,72,176,0.0)");
  gradientStroke2.addColorStop(0, "rgba(20,23,39,0)"); // Couleurs

  if (chartInstance) {
    chartInstance.destroy(); // Détruire le graphique existant
  }

  // Création du graphique
  chartInstance = new Chart(gradientLineChart, {
    type: "line",
    data: {
      labels: props.chart.labels,
      datasets: props.chart.datasets.map((dataset, index) => ({
        ...dataset,
        tension: 0.4,
        borderWidth: 3,
        pointRadius: 0,
        backgroundColor: index === 0 ? gradientStroke1 : gradientStroke2,
        borderColor: index === 0 ? "#4BB543" : "#3A416F",
        fill: true,
        maxBarThickness: 6,
      })),
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        },
      },
      interaction: {
        intersect: false,
        mode: "index",
      },
      scales: {
        y: {
          grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: false,
            borderDash: [5, 5],
          },
          ticks: {
            display: true,
            padding: 10,
            color: "#fbfbfb",
            font: {
              size: 11,
              family: "Open Sans",
              style: "normal",
              lineHeight: 2,
            },
          },
        },
        x: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
            borderDash: [5, 5],
          },
          ticks: {
            display: true,
            color: "#ccc",
            padding: 20,
            font: {
              size: 11,
              family: "Open Sans",
              style: "normal",
              lineHeight: 2,
            },
          },
        },
      },
    },
  });
};

onMounted(() => {
  createChart(); // Créer le graphique lors de l'initialisation
});

// Ajouter un watcher pour surveiller les changements de props.chart
watch(() => props.chart, createChart, { deep: true });
</script>
<template>
  <div class="card z-index-2">
    <div class="pb-0 card-header mb-0">
      <h6>{{ props.title }}</h6>
      <!--  eslint-disable-next-line vue/no-v-html -->
      <p v-if="props.description" class="text-sm" v-html="props.description" />
    </div>
    <div class="p-3 card-body">
      <div class="chart">
        <canvas
          :id="props.id"
          class="chart-canvas"
          :height="props.height"
        ></canvas>
      </div>
    </div>
  </div>
</template>
