<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12 bar">
          <nav-type-abonnements @update:activeTab="handleActiveTab" />
          <div class="d-flex ">
            <div>
              <div
                class="pe-md-3 d-flex align-items-center ms-md-auto"
              >
                <div class="input-group">
                  <span class="input-group-text text-body">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                  <input
                    type="text"
                    v-model="searchQuery"
                    class="form-control"
                    placeholder="Type here..."
                  />
                </div>
              </div>
            </div>
            <argon-button class="d-non" @click="openModal"> Créer </argon-button>
          </div>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-12">
          <div v-if="loading" class="w-100 d-flex justify-content-center ">
            <div class="spinner "></div>
          </div>
          <abonnements-table 
            @dataRequested="handleDataRequested"
            :class=" loading==true ? 'd-none' : '' "
            :abonnements="searchQuery.trim() == '' ? paginatedSubs : filteredItems" 
            :length="searchQuery.trim() == '' ? length : filteredItems.length" 
            :userTypes="userTypes.items"
            :transactions="transactions.items"
            :packages="packages.items"
          />      
        </div>
      </div>
      <Pagination
        :totalItems="searchQuery.trim() == '' ? length : filteredItems.length"
        :itemsPerPage="itemsPerPage"
        :currentPage="currentPage"
        @page-change="onPageChange"
        :class=" loading==true ? 'd-none' : '' "
      />
    </div>
    <modal v-model:isVisible="showModal">
      <h3 class="modal-title">Créer une abonnement</h3>
        <form role="form" @submit.prevent="handleSubmit">
            
                <SelectSubT
                id="transaction"
                type="text"
                placeholder="Transaction"
                aria-label="Transaction"
                :options="transactions.items"
                v-model=form.transactionId
                :isRequired=true
                />
                <SelectSubP
                id="package"
                type="text"
                placeholder="Package"
                aria-label="Package"
                :options="packages.items"
                v-model="form.packageId"
                :isRequired=true
                />
            

            
            <div class="text-center">
                <argon-button
                fullWidth
                color="dark"
                variant="gradient"
                class="my-4 mb-2 d-flex justify-content-center"
                >
                <div v-if="loading == true">
                <div class="spinner"></div>
                </div>
                <div v-else>
                Creer
                </div>
                </argon-button>
            </div>
            <div v-if="error">
                <div v-for="(item, index) in error" :key="index" class="text-center mt-2">
                {{item}}
                </div>
            </div>
            
        </form>
    </modal>
</template>
  
<script setup>
  import SelectSubP from  "../components/custom/SelectSubP.vue"
  import SelectSubT from "../components/custom/SelectSubT.vue"
  import Pagination from "./components/custom/Pagination.vue";
//   import UsersTable from "./components/custom/UsersTable.vue";
  import AbonnementsTable from "./components/custom/AbonnementsTable.vue"
//   import NavTypeUser from "./components/custom/NavTypeUser.vue";
  import NavTypeAbonnements from "./components/custom/NavTypeSuscriptions.vue";
import Modal from "./components/custom/Modal.vue";
  import ArgonButton from "../components/ArgonButton.vue";
  import { isArray } from "chart.js/helpers";
import axios from 'axios';
  import { ref, computed, reactive, onBeforeMount } from "vue";

  const form = ref({});
  const showModal = ref(false);

  // const selectedType = ref('admin'); 
  const activeTab = ref('#tous');

  // État de la barre de recherche
  const searchQuery = ref('');

  // Fonction pour filtrer les éléments en fonction de la requête de recherche
  function openModal(){
      showModal.value = true;
      form.value.role = 'Standard';
      form.value.sex = 'FEMALE';
    }
  // Fonction pour gérer les changements d'onglet
  const handleActiveTab = (newTab) => {
    activeTab.value = newTab;
    currentPage.value = 1;
  };
  
  const abonnements = reactive({
    items: []
  });
  const userTypes = reactive({
    items: []
  });
  const ancien = reactive({
    items: []
  });
  const actuel = reactive({
    items: []
  });
  const transactions = reactive({
    items: []
  });
  const transactionTmp = reactive({
    items: []
  });

  const packages = reactive({
    items: []
  });

  const filteredItems = computed(() => {
    return abonnements.items.filter(item =>
      item.package.title.toLowerCase().includes(searchQuery.value.toLowerCase()) ||
      item.transaction.aggregator.name.toLowerCase().includes(searchQuery.value.toLowerCase()) 
    );
  });
  
  const itemsPerPage = 10; // Nombre d'éléments par page
  const currentPage = ref(1);
  const paginatedSubs = computed(() => {
    const start = (currentPage.value - 1) * itemsPerPage;
    let usersToPaginate = [];
    switch (activeTab.value) {
      case '#tous':
        usersToPaginate = abonnements.items;
        break;
      case '#ancien':
        usersToPaginate = ancien.items;
        break;
      case '#actuel':
        usersToPaginate = actuel.items;
        break;
      default:
        usersToPaginate = [];
        break;
    }  
    return usersToPaginate.slice(start, start + itemsPerPage);
  });
  
  // Propriété calculée pour la longueur des utilisateurs
  const length = computed(() => {
    switch (activeTab.value) {
      case '#tous':
        return abonnements.items.length;
      case '#ancien':
        return ancien.items.length;
      case '#actuel':
        return actuel.items.length;
      default:
        return 0;
    }
  });
  
  // Met à jour la page actuelle
  const onPageChange = (page) => {
    currentPage.value = page;
  };

  const handleDataRequested = (value) => {
    if (value) {
      obtainData();
    }
  };
  
  const handleSubmit = async() => {
    loading.value = true;
    error.value = [];

    const formData = ref({});
    
    formData.value.transactionId = form.value.transactionId;
    formData.value.packageId = form.value.packageId;    
    formData.value.isActive = true;

    
    try {        
      const response = await axios.post(process.env.VUE_APP_API_URL + 'subscriptions', 
        formData.value,
        {
          headers: {
            Authorization: 'Bearer ' + getCookie('accessToken'),
          }
        }
      );
      if (response.status >= 200 && response.status <= 299) {        
        obtainData();
        closeModal();
        form.value = {};
      }
    } catch (err) {
      if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
            error.value.push(element.error || 'An error occurred');
          });
        } else {
          error.value.push(err.response.data.message.error || 'An error occurred');
        }
       
      } else {
        error.value.push('An unexpected error occurred');
      }
    } finally {
      loading.value = false;
    }
  
  };
  
  function getCookie(name) {
    const nameEQ = name + "=";
    const ca = document.cookie.split(';');
    for(let i=0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
};
  
// Méthode pour fermer le modal
const closeModal = () => {
  showModal.value = false;
};
  
  const error = ref([]);
  const loading = ref(false);
  //const loadingTwo = ref(false);

  
  const obtainData = async() => {
    loading.value = true;
    error.value = [];
    
    try {        
      const response = await axios.get(process.env.VUE_APP_API_URL + 'subscriptions', {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
        }
      }); 
      const responseT = await axios.get(process.env.VUE_APP_API_URL + 'transactions', {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
        }
      }); 
      const responseP = await axios.get(process.env.VUE_APP_API_URL + 'packages', {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
        }
      }); 
      if (response.status === 200 && responseP.status === 200 && responseT.status === 200) {
        abonnements.items = response.data.data;
        packages.items = responseP.data;

        transactionTmp.items = responseT.data.data;
        transactions.items = [];
        transactionTmp.items.forEach( transaction => {
          if (transaction.status == 'COMPLETED' && transaction.deletedAt == null) {
            transactions.items.push(transaction);
          }
        })

        
        ancien.items = [];
        actuel.items = [];
        abonnements.items.forEach( abonnement => {
          switch (abonnement.isActive) {
            case true:
              actuel.items.push(abonnement);
              break;
            case false:
              ancien.items.push(abonnement);
              break;
            default:
              break;
          }
        });
      }
    } catch (err) {
      if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
            error.value.push(element.error || 'An error occurred');
          });
        } else {
          error.value.push(err.response.data.message.error || 'An error occurred');
        }
       
      } else {
        error.value.push('An unexpected error occurred');
      }
    } finally {
      loading.value = false;
    }
  }
  
  onBeforeMount(() => {
    obtainData();
  });
  </script>

<style scoped>
      .bar{
          display: flex;
          justify-content: space-between;
      }
      .radio-container{
          display: flex;
      }
      .radio-container div{
          padding-right: 15px;
      }
      .input-container{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
      }
      form{
          margin-top: 15px;
      }
      .modal-title{
          font-weight: 400;
      }
      .ul-down{
        -webkit-box-shadow: 4px 5px 12px 1.5px #dddddd;
        -moz-box-shadow: 4px 5px 12px 1.5px #dddddd;
        box-shadow: 4px 5px 12px 1.5px #dddddd;
        border-radius: 10px;
        background-color: white;
      }
      .spinner {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: radial-gradient(farthest-side,#fff 94%,#0000) top/9px 9px no-repeat, conic-gradient(#0000 30%,#fff);
        mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        animation: spinner-c7wet2 1s infinite linear;
      }
  
    @keyframes spinner-c7wet2 {
      100% {
          transform: rotate(1turn);
      }
    }
  </style>