<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12 bar">
          <nav-type-article @update:activeTab="handleActiveTab" />
          <div class="d-flex ">
            <div>
              <div
                class="pe-md-3 d-flex align-items-center ms-md-auto"
              >
                <div class="input-group">
                  <span class="input-group-text text-body">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                  <input
                    type="text"
                    v-model="searchQuery"
                    class="form-control"
                    placeholder="Type here..."
                  />
                </div>
              </div>
            </div>
            <argon-button @click="openModal"> Créer </argon-button>
          </div>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-12">
          <div v-if="loadingTwo" class="w-100 d-flex justify-content-center ">
            <div class="spinner "></div>
          </div>
          <article-table 
            @dataRequested="handleDataRequested"
            :class=" loadingTwo==true ? 'd-none' : '' "
            :news="searchQuery.trim() == '' ? paginatedNews : filteredItems" 
            :length="searchQuery.trim() == '' ? length : filteredItems.length" 
            :newsTypes="newsTypes.items"
          />      
        </div>
      </div>
      <Pagination
        :totalItems="searchQuery.trim() == '' ? length : filteredItems.length"
        :itemsPerPage="itemsPerPage"
        :currentPage="currentPage"
        @page-change="onPageChange"
        :class=" loadingTwo==true ? 'd-none' : '' "
      />
    </div>

    <modal v-model:isVisible="showModal">
      <h3 class="modal-title">Créer un article</h3>
      <form role="form" @submit.prevent="handleSubmit">
          <argon-input
            id="titre"
            type="text"
            placeholder="Titre"
            aria-label="Titre"
            :isRequired="true"
            v-model="form.title"
            :error="titleError"
          />
          <div class="input-container">
            <div>
                <label for="couverture">Photo de couverture</label>
                <argon-input
                    id="couverture"
                    type="file"
                    placeholder="Couverture"
                    aria-label="Couverture"
                    :isRequired="true"
                    @change="handleFileChange"
                    > </argon-input>
            </div>
          
            <div>
                <label for="media">Medias associés</label>
                <argon-input
                    id="media"
                    type="file"
                    placeholder="Media"
                    aria-label="Media"
                    :isRequired="true"
                    @change="handleFileChangeMultiple"
                    > </argon-input>
                </div>
        </div>
        
          <argon-textarea
                id="description"
                placeholder="Description"
                type="text"
                :isRequired="true"  
                v-model="form.description"
            />
       
        <div class="radio-container">
          <argon-radio 
            id="gyneco"
            modelValue="Gyneco"
            v-model="form.type"
            name="type"
          >Gyneco</argon-radio>
          <argon-radio 
            id="puberte"
            modelValue="Puberté"
            v-model="form.type"
            name="type"
          >Puberté</argon-radio>
          <argon-radio 
            id="cardio"
            modelValue="Cardio"
            v-model="form.type"
            name="type"
            :checked="true"
          >Cardio</argon-radio>
        </div>
        <div class="text-center">
          <argon-button
            fullWidth
            color="dark"
            variant="gradient"
            class="my-4 mb-2 d-flex justify-content-center align-content-center"
          >
            <div v-if="loading">
              <div class="spinner"></div>
            </div>
            <div v-else>
              Créer
            </div>
          </argon-button>
        </div>
        <div v-if="error">
          <div v-for="(item, index) in error" :key="index" class="text-center mt-2">
            {{item}}
          </div>
        </div>
      </form>
    </modal>
  </template>
  <script setup>
  import Pagination from "./components/custom/Pagination.vue";
  import ArticleTable from "./components/custom/ArticleTable.vue";
  import NavTypeArticle from "./components/custom/NavTypeArticle.vue";
  import Modal from "./components/custom/Modal.vue";
  import ArgonButton from "../components/ArgonButton.vue";
  // import InputFile from "../components/custom/InputFile.vue";
  import ArgonInput from "../components/ArgonInput.vue";
  import ArgonRadio from "../components/ArgonRadio.vue";
  import ArgonTextarea from "../components/ArgonTextarea.vue";
  import axios from 'axios';
import { isArray } from "chart.js/helpers";
  import { ref, computed, reactive, onBeforeMount } from "vue";
  
  const form = ref({
    type: 'Cardio',
    coverPicture: null, 
    media: null,
  });
  const showModal = ref(false);
  // const selectedType = ref('admin'); 
  const activeTab = ref('#tous');
  // État de la barre de recherche
  const searchQuery = ref('');
  // Fonction pour filtrer les éléments en fonction de la requête de recherche
  function openModal(){
      showModal.value = true;
      form.value.type = 'Cardio';
      form.value.coverPicture = null;
      form.value.media = null;
    }
  // Fonction pour gérer les changements d'onglet
  const handleActiveTab = (newTab) => {
    activeTab.value = newTab;
    currentPage.value = 1;
  };
  
  const news = reactive({
    items: []
  });
  const newsTypes = reactive({
    items: []
  });
  const cardio = reactive({
    items: []
  });
  const gyneco = reactive({
    items: []
  });
  const puberte = reactive({
    items: []
  });
  const newsTmp = reactive({
    items: []
  });

  const filteredItems = computed(() => {
    return news.items.filter(item =>
      item.description.toLowerCase().includes(searchQuery.value.toLowerCase()) ||
      item.type.name.toLowerCase().includes(searchQuery.value.toLowerCase()) ||
      item.title.toLowerCase().includes(searchQuery.value.toLowerCase())
    );
  });
  
  const itemsPerPage = 10; // Nombre d'éléments par page
  const currentPage = ref(1);
  const paginatedNews = computed(() => {
    const start = (currentPage.value - 1) * itemsPerPage;
    let newsToPaginate = [];
    switch (activeTab.value) {
      case '#tous':
        newsToPaginate = news.items;
        break;
      case '#gyneco':
        newsToPaginate = gyneco.items;
        break;
      case '#cardio':
        newsToPaginate = cardio.items;
        break;
      case '#puberte':
        newsToPaginate = puberte.items;
        break;
      default:
        newsToPaginate = [];
        break;
    }  
    return newsToPaginate.slice(start, start + itemsPerPage);
  });
  
  // Propriété calculée pour la longueur des utilisateurs
  const length = computed(() => {
    switch (activeTab.value) {
      case '#tous':
        return news.items.length;
      case '#gyneco':
        return gyneco.items.length;
      case '#puberte':
        return puberte.items.length;
      case '#cardio':
        return cardio.items.length;
      default:
        return 0;
    }
  });
  
  // Met à jour la page actuelle
  const onPageChange = (page) => {
    currentPage.value = page;
  };
const titleError = computed(() => {
  if (form?.value?.title == null || form?.value?.title == '') return false;
  const title = form?.value?.title?.toString();
  // Vérifie que le numéro commence par un '+' optionnel et contient uniquement des chiffres
  return !(title && title.length > 0 && title.length <= 40);
});

  const handleDataRequested = (value) => {
    if (value) {
      obtainData();
    }
  };

  const handleFileChange = (event) => {
    const file = event.target.files[0]; // Récupère le premier fichier sélectionné
    if (file) {
      form.value.coverPicture = file; // Ajoute le fichier dans l'objet form
    }
  };

  const handleFileChangeMultiple = (event) => {
    // const files = Array.from(event.target.files); // Convertir FileList en tableau
    // files.forEach((file) => {
    //   form.value.media.push(file); // Ajouter chaque fichier dans form.media
    // });
    const file = event.target.files[0]; // Récupère le premier fichier sélectionné
    if (file) {
      form.value.media = file; // Ajoute le fichier dans l'objet form
    }
  };

  const handleSubmit = async() => {
    loading.value = true;
    error.value = [];
    const formData = new FormData();
    
    formData.append('title', form.value.title);
    formData.append('description', form.value.description);

    if (form.value.coverPicture instanceof File) {
      formData.append('coverPicture', form.value.coverPicture); // "file" doit correspondre au champ attendu par l'API
    } else {
      console.error("L'image n'est pas un fichier valide");
    }  
    formData.append('media', form.value.media);

    newsTypes.items.forEach( item => {
      if (form.value.type == item.name) {        
        formData.append('newsTypeId', item.id);
      }
    })
   
    try {        
      const response = await axios.post(process.env.VUE_APP_API_URL + 'news', 
        formData,
        {
          headers: {
            Authorization: 'Bearer ' + getCookie('accessToken'),
          }
        }
      );
      if (response.status === 200) {
        obtainData();
        closeModal();
        form.value = {};
      }
    } catch (err) {
      if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
            error.value.push(element.error || 'An error occurred');
          });
        } else {
          error.value.push(err.response.data.message.error || 'An error occurred');
        }
      } else {
        error.value.push('An unexpected error occurred');
      }
    } finally {
      loading.value = false;
    }
  
  };
  
  function getCookie(name) {
    const nameEQ = name + "=";
    const ca = document.cookie.split(';');
    for(let i=0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }
  
  // Méthode pour fermer le modal
  const closeModal = () => {
    showModal.value = false;
  };
  
  const error = ref([]);
  const loading = ref(false);
  const loadingTwo = ref(false);
  
  const obtainData = async() => {
    loadingTwo.value = true;
    error.value = [];
    
    try {        
      const response = await axios.get(process.env.VUE_APP_API_URL + 'news', {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
        }
      }); 
      const responseTypes = await axios.get(process.env.VUE_APP_API_URL + 'news-types', {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
        }
      });    
      if (response.status === 200 && responseTypes.status === 200) {
        newsTmp.items = response.data.data;
        newsTypes.items = responseTypes.data;
        
        news.items = [];
        newsTmp.items.forEach( newe => {
          if ( newe.active ) {
            news.items.push(newe);
          }
        });
        
        gyneco.items = [];
        puberte.items = [];
        cardio.items = [];
        news.items.forEach( newe => {
          switch (newe.type.name) {
            case 'Gyneco':
              gyneco.items.push(newe);
              break;
            case 'Puberté':
              puberte.items.push(newe);
              break;
            case 'Cardio':
              cardio.items.push(newe);
              break;
            default:
              break;
          }
        });
      }
    } catch (err) {
      if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
            error.value.push(element.error || 'An error occurred');
          });
        } else {
          error.value.push(err.response.data.message.error || 'An error occurred');
        }
      
      } else {
        error.value.push('An unexpected error occurred');
      }
    } finally {
      loadingTwo.value = false;
    }
  }
   
  onBeforeMount(() => {
    obtainData();
  });
  </script>


<style scoped>
      .bar{
          display: flex;
          justify-content: space-between;
      }
      .radio-container{
          display: flex;
      }
      .radio-container div{
          padding-right: 15px;
      }
      .input-container{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
      }
      form{
          margin-top: 15px;
      }
      .modal-title{
          font-weight: 400;
      }
      .ul-down{
        -webkit-box-shadow: 4px 5px 12px 1.5px #dddddd;
        -moz-box-shadow: 4px 5px 12px 1.5px #dddddd;
        box-shadow: 4px 5px 12px 1.5px #dddddd;
        border-radius: 10px;
        background-color: white;
      }
      .spinner {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: radial-gradient(farthest-side,#fff 94%,#0000) top/9px 9px no-repeat, conic-gradient(#0000 30%,#fff);
        mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        animation: spinner-c7wet2 1s infinite linear;
      }
  
    @keyframes spinner-c7wet2 {
      100% {
          transform: rotate(1turn);
      }
    }

  </style>