
<template>
    <div class="py-4 container-fluid">
        <div class="row">
            <div class="col-12 bar">
                <div class="d-flex justify-content-center align-items-center mb-4">
                    <h6 :class=" section == 'carrousel' ? 'active-h4' : ''" @click="changeSection('carrousel')">Caroussels</h6>
                    <div class="hr mx-4"></div>
                    <h6  @click="changeSection('event')" :class=" section == 'event' ? 'active-h4' : ''">Evènements</h6>
                </div>
                <div class="row">
                      <div class=" bar d-flex justify-content-between">
                        <nav-type-carrousel @update:activeTabCarrousel="handleActiveTabCarrousels" :section="section" />
                        
                        <div class="d-flex ">
                          <div>
                            <div
                              class="pe-md-3 d-flex align-items-center ms-md-auto"
                            >
                              <div class="input-group">
                                <span class="input-group-text text-body">
                                  <i class="fas fa-search" aria-hidden="true"></i>
                                </span>
                                <input
                                type="text"
                                v-model="searchQuery"
                                class="form-control"
                                placeholder="Type here..."
                                />
                              </div> 
                            </div>
                          </div>
                          <argon-button @click="openModal"> Créer </argon-button>
                        </div>
                      </div>
                    </div>
                <div class="caroussel " :class=" section == 'event' ? 'd-none' : ''" >
                    <div class="mt-4 row">
                      <div class="col-12">
                        <div v-if="loadingTwo" class="w-100 d-flex justify-content-center ">
                          <div class="spinner "></div>
                        </div>
                        <div v-else>
                          <contenu-table 
                            @dataRequested="handleDataRequested"
                            :contenus="searchQuery.trim() == '' ? paginatedCarrouselItems : filteredItems" 
                            :length="searchQuery.trim() == '' ? lengthCarrousels : filteredItems.length" 
                            :section="section"
                            :class=" loadingTwo==true ? 'd-none' : '' "
                            />
                        </div>
                        
                      </div>
                    </div>
                    <Pagination
                    :totalItems="searchQuery.trim() == '' ? lengthCarrousels : filteredItems.length"
                    :itemsPerPage="itemsPerPage"
                    :currentPage="currentPage"
                    @page-change="onPageChange"
                    :class=" loadingTwo==true ? 'd-none' : '' "
                    />
                </div>
                <div class="event " :class=" section == 'event' ? 'd-block' : 'd-none'">
                    <div class="mt-4 row">
                      <div class="col-12">
                        <div v-if="loadingTwo" class="w-100 d-flex justify-content-center ">
                          <div class="spinner "></div>
                        </div>
                        <contenu-table 
                        @dataRequested="handleDataRequested"
                        :contenus="searchQuery.trim() == '' ? paginatedEventItems : filteredItems" 
                        :length="searchQuery.trim() == '' ? lengthEvents : filteredItems.length" 
                        :section="section"
                        :class=" loadingTwo==true ? 'd-none' : '' "
                        />
                      </div>
                    </div>
                    <Pagination
                    :totalItems="searchQuery.trim() == '' ? lengthEvents : filteredItems.length"
                    :itemsPerPage="itemsPerPage"
                    :currentPage="currentPage"
                    @page-change="onPageChange"
                    :class=" loadingTwo==true ? 'd-none' : '' "
                    />
                </div>
                <modal v-model:isVisible="showModal">
                    <h3 class="modal-title">Créer un {{ section == 'event' ? 'événement' : 'carrousel' }}</h3>
                    <form role="form" @submit.prevent="handleSubmit">
                    
                      <argon-input
                        id="image"
                        type="file"
                        placeholder="Image"
                        aria-label="image"
                        :isRequired="true"
                        @change="handleFileChange"
                      />
                    <argon-textarea
                        id="description"
                        placeholder="Description"
                        type="text"
                        :isRequired="true"
                         
                        v-model="form.text"
                    />
                    <div class="text-center">
                        <argon-button
                        fullWidth
                        color="dark"
                        variant="gradient"
                        class="my-4 mb-2 d-flex justify-content-center align-content-center"
                      >
                      <div v-if="loading">
                        <div class="spinner"></div>
                      </div>
                      <div v-else>
                        Créer
                      </div>
                      </argon-button>
                    </div>
                    <div v-if="error">
                      <div v-for="(item, index) in error" :key="index" class="text-center mt-2">
                        {{item}}
                      </div>
                    </div>
                  </form>
                </modal>
                </div>
            </div>
        </div>
     
</template>
<style scoped>
 .spinner {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: radial-gradient(farthest-side,#fff 94%,#0000) top/9px 9px no-repeat, conic-gradient(#0000 30%,#fff);
      mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
      -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
      animation: spinner-c7wet2 1s infinite linear;
    }

  @keyframes spinner-c7wet2 {
    100% {
        transform: rotate(1turn);
    }
  }
     .modal-title{
        font-weight: 400;
        margin-bottom: 20px !important;
    }
    .hr{
        height: 40px;
        border-left:
        1px  solid white;
    }
    h6 {
        margin: 0;
        color: white;
        cursor: pointer;
        padding: 10px;
    }
    .active-h4{
        background-color: white;
        color: #AE147D;
        border-radius: 10px;
    }
</style>
<script setup>
import Pagination from "./components/custom/Pagination.vue";
import ContenuTable from "./components/custom/ContenuTable.vue";
import NavTypeCarrousel from "./components/custom/NavTypeCarrousel.vue";
import Modal from "./components/custom/Modal.vue";
import ArgonButton from "../components/ArgonButton.vue";
import ArgonInput from "../components/ArgonInput.vue";
import ArgonTextarea from "../components/ArgonTextarea.vue";
import axios from "axios";

import { ref, reactive, computed, onBeforeMount, onMounted } from "vue";
import { isArray } from "chart.js/helpers";



// État du formulaire
const form = ref({
  image: null,
});

const handleFileChange = (event) => {
  const file = event.target.files[0]; // Récupère le premier fichier sélectionné
  if (file) {
    form.value.image = file; // Ajoute le fichier dans l'objet form
  }
};


// État pour afficher ou non le modal
const showModal = ref(false);

// Onglet actif
const activeTabCarrousels = ref('#tousCarrousels');

// État de la barre de recherche
const searchQuery = ref('');

// Sections disponibles
const section = ref('carrousel');

// État pour les événements et carrousels
const events = reactive({ items: [] });
const carrousels = reactive({ items: [] });
const eventsTmp = reactive({ items: [] });
const carrouselsTmp = reactive({ items: [] });

const passe = reactive({ items: [] });
const avenir = reactive({ items: [] });
const ancien = reactive({ items: [] });
const actuel = reactive({ items: [] });

// Pagination
const itemsPerPage = 10; 
const currentPage = ref(1);

// Gestion des onglets actifs
const handleActiveTabCarrousels = (newTab) => {
  activeTabCarrousels.value = newTab;
  currentPage.value = 1;
  error.value = [];
};

// Fonction pour ouvrir le modal
function openModal() {
  showModal.value = true;
}

// Filtrage des items en fonction de la recherche
const filteredItems = computed(() => {
  const items = section.value === 'event' ? events.items : carrousels.items;
  return items.filter(item =>
    item.text.toLowerCase().includes(searchQuery.value.toLowerCase())
  );
});

// Pagination des événements et carrousels
const paginatedCarrouselItems = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage;
  let itemsToPaginate = [];

  switch (activeTabCarrousels.value) {
    case '#tousCarrousels':
      itemsToPaginate = carrousels.items;
      break;
    case '#actuelCarrousels':
      itemsToPaginate = actuel.items;
      break;
    case '#ancienCarrousels':
      itemsToPaginate = ancien.items;
      break;
    default:
      itemsToPaginate = [];
      break;
  }

  return itemsToPaginate.slice(start, start + itemsPerPage);
});

const paginatedEventItems = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage;
  let itemsToPaginate = [];

  switch (activeTabCarrousels.value) {
    case '#tousEvents':
      itemsToPaginate = events.items;
      break;
    case '#avenirEvents':
      itemsToPaginate = avenir.items;
      break;
    case '#passeEvents':
      itemsToPaginate = passe.items;
      break;
    default:
      itemsToPaginate = [];
      break;
  }

  return itemsToPaginate.slice(start, start + itemsPerPage);
});

// Longueur des items pour la pagination
const lengthCarrousels = computed(() => {
  switch (activeTabCarrousels.value) {
    case '#tousCarrousels':
      return carrousels.items.length;
    case '#actuelCarrousels':
      return actuel.items.length;
    case '#ancienCarrousels':
      return ancien.items.length;
    default:
      return 0;
  }
});

const lengthEvents = computed(() => {
  switch (activeTabCarrousels.value) {
    case '#tousEvents':
      return events.items.length;
    case '#avenirEvents':
      return  avenir.items.length;
    case '#passeEvents':
      return  passe.items.length;
    default:
      return 0;
  }
});
// Fonction pour récupérer un cookie par son nom
function getCookie(name) {
  const nameEQ = name + "=";
  const ca = document.cookie.split(';');
  for(let i = 0; i < ca.length; i++) {
    let c = ca[i].trim();
    if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length);
  }
  return null;
}

// État des erreurs et du chargement
const error = ref([]);
const loadingTwo = ref(false);
const loading = ref(false);

// Récupération des données pour les événements et carrousels
async function obtainData ()  {
  loadingTwo.value = true;
  error.value = [];

  try {
    const [responseEvents, responseCarrousels] = await Promise.all([
      axios.get(process.env.VUE_APP_API_URL + 'events', {
        headers: { Authorization: 'Bearer ' + getCookie('accessToken') }
      }),
      axios.get(process.env.VUE_APP_API_URL + 'carrousels', {
        headers: { Authorization: 'Bearer ' + getCookie('accessToken') }
      })
    ]);

    if (responseEvents.status === 200 && responseCarrousels.status === 200) {
      eventsTmp.items = responseEvents.data.data;
      events.items = [];
      carrouselsTmp.items = responseCarrousels.data.data;
      carrousels.items = [];

      eventsTmp.items.forEach( event => {
        events.items.push(event);
        if ( event.active ) {
          avenir.items.push(event);
        } else {
          passe.items.push(event);
        } 
      });
      carrouselsTmp.items.forEach( carrousel => {
        carrousels.items.push(carrousel);
        if ( carrousel.active ) {
          actuel.items.push(carrousel);
        } else  {
          ancien.items.push(carrousel);
        }
      });
    }
  } catch (err) {
    if (err.response && err.response.status >= 400) {
      if (isArray(err.response.data.message)) {
        err.response.data.message.forEach(element => {
          error.value.push(element.error || 'An error occurred');
        });
      } else {
        error.value.push(err.response.data.message.error || 'An error occurred');
      }
     
    } else {
      error.value.push('An unexpected error occurred');
    }
  } finally {
    loadingTwo.value = false;
  }
};

// Soumission du formulaire pour ajouter un événement ou un carrousel
const handleSubmit = async () => {
  loading.value = true;
  error.value = [];
  
  try {
    let response;

    const formData = new FormData();
    
    // Parcourir les clés de ton objet form et les ajouter dans formData
    formData.append('text', form.value.text);

    // Si tu as des fichiers, les ajouter également
    if (form.value.image instanceof File) {
      formData.append('image', form.value.image); // "file" doit correspondre au champ attendu par l'API
    } else {
      console.error("L'image n'est pas un fichier valide");
    }    

    if (section.value === 'event') {
      response = await axios.post(process.env.VUE_APP_API_URL + 'events', formData, {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
          'Content-Type': 'multipart/form-data'
        }
      });
    } else {
      response = await axios.post(process.env.VUE_APP_API_URL + 'carrousels', formData, {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
          'Content-Type': 'multipart/form-data' 
        }
      });
    }

    if (response.status === 200) {
      await obtainData(); // Mettre à jour les données sans recharger la page
      showModal.value = false; // Fermer le modal après succès
      form.value.image = null;
      form.value.text = '';
    }
  } catch (err) {
    if (err.response && err.response.status >= 400) {
      if (isArray(err.response.data.message)) {
        err.response.data.message.forEach(element => {
          error.value.push(element.error || 'An error occurred');
        });
      } else {
        error.value.push(err.response.data.message.error || 'An error occurred');
      }
    } else {
      error.value.push('An unexpected error occurred');
    }
  } finally {
    loading.value = false;
  }
};

const onPageChange = (page) => {
  currentPage.value = page;
};

// Fonction pour changer la section active
function changeSection(newSection) {
  if (newSection == 'event') {
    activeTabCarrousels.value = '#tousEvents';
  } else {
    activeTabCarrousels.value = '#tousCarrousels';
  }
  section.value = newSection;
}

const handleDataRequested = (value) => {
  if (value) {
    obtainData();
  }
};

// Récupération des données au montage du composant
onBeforeMount(() => {
  obtainData();
});
onMounted(() => {
  // setNavPills();
})
</script>
