<script setup>
import { useRouter } from "vue-router";
import { onBeforeMount, onBeforeUnmount } from "vue";
import { useStore } from "vuex";
const body = document.getElementsByTagName("body")[0];
const router = useRouter();
const store = useStore();
onBeforeMount(() => {
  store.state.hideConfigButton = true;
  store.state.showNavbar = false;
  store.state.showSidenav = false;
  store.state.showFooter = false;
  body.classList.remove("bg-gray-100");
});
onBeforeUnmount(() => {
  store.state.hideConfigButton = false;
  store.state.showNavbar = true;
  store.state.showSidenav = true;
  store.state.showFooter = true;
  body.classList.add("bg-gray-100");
});
const goHome = () => {
  router.push("/");
};
</script>

<template>
  <div class="not-found">
    <h1>404</h1>
    <p>Oups ! La page que vous cherchez n'existe pas.</p>
    <button @click="goHome">Retour à l'accueil</button>
  </div>
</template>

<style scoped>
.not-found {
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-size: 6rem;
  color: #ff4c4c;
}

p {
  font-size: 1.5rem;
  margin: 10px 0;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}
</style>
