<script setup>
import { onBeforeMount, onMounted, onBeforeUnmount } from "vue";
import { useStore } from "vuex";
import { useRoute } from 'vue-router';
import setNavPills from "@/assets/js/nav-pills.js";
import setTooltip from "@/assets/js/tooltip.js";
//import AbonnementsTable from "./components/custom/AbonnementsTable.vue";
//import Pagination from "./components/custom/Pagination.vue";
import ArgonInput from "@/components/ArgonInput.vue";
import ArgonButton from "@/components/ArgonButton.vue";
import Modal from "./components/custom/Modal.vue"
import packagePicture from "@/assets/img/package.png";
import ButtonStyledGreen from '@/components/custom/ButtonStyledGreen.vue';
import ButtonStyledWhite from '@/components/custom/ButtonStyledWhite.vue';
import { isArray } from "chart.js/helpers";
import axios from 'axios';
import { ref } from "vue";
import ArgonTextarea from "../components/ArgonTextarea.vue";

const body = document.getElementsByTagName("body")[0];
const error = ref([]);
const loading = ref(false);
const pack = ref();
const form = ref({});
const route = useRoute();
const showModalEdit = ref(false);

const obtainPack = async(id) => {
  loading.value = true;
  error.value = [];
  
  try {        
    const response = await axios.get(process.env.VUE_APP_API_URL + 'packages/' + id, {
      headers: {
        Authorization: 'Bearer ' + getCookie('accessToken'),
      }
    });    
    if (response.status === 200) {
      pack.value = response.data;
    }
  } catch (err) {
    if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
            error.value.push(element.error || 'An error occurred');
          });
        } else {
          error.value.push(err.response.data.message.error || 'An error occurred');
        }
       
      } else {
        error.value.push('An unexpected error occurred');
      }
  } finally {
    loading.value = false;
  }
}


const handleSubmit = async() => {
  loading.value = true;

    error.value = [];
    const formData = ref({});

    if (form.value.title != pack.value.title) {
        formData.value.title = form.value.title;
    }
        
    if (form.value.description != pack.value.description) {
        formData.value.description = form.value.description;
    }

    if (form.value.price != pack.value.price) {
        formData.value.price = parseFloat(form.value.price);
    }

    try {        
      const response = await axios.patch(process.env.VUE_APP_API_URL + 'packages/' + pack.value.id, 
        formData.value,
        {
          headers: {
            Authorization: 'Bearer ' + getCookie('accessToken'),
          }
        }
      );

      if (response.status === 200) {
        obtainPack(pack.value.id);
        closeModal();
      }
    } catch (err) {
      if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
            error.value.push(element.error || 'An error occurred');
          });
        } else {
          error.value.push(err.response.data.message.error || 'An error occurred');
        }
       
      } else {
        error.value.push('An unexpected error occurred');
      }
    } finally {
      loading.value = false;
    }
};

const openEditModal = () => {
  showModalEdit.value = true;
};

const closeModal = () => {
  showModalEdit.value = false;
  form.value = {};
};


const store = useStore();

function getCookie(name) {
  const nameEQ = name + "=";
  const ca = document.cookie.split(';');
  for(let i=0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
  }
  return null;
}

onMounted(() => {
  store.state.isAbsolute = true;
  setNavPills();
  setTooltip();
});
onBeforeMount(() => {
  store.state.imageLayout = "profile-overview";
  store.state.showNavbar = false;
  store.state.showFooter = true;
  store.state.hideConfigButton = true;
  body.classList.add("profile-overview");
  obtainPack(route.params.id);
});
onBeforeUnmount(() => {
  store.state.isAbsolute = false;
  store.state.imageLayout = "default";
  store.state.showNavbar = true;
  store.state.showFooter = true;
  store.state.hideConfigButton = false;
  body.classList.remove("profile-overview");
});

</script>

<template>
  <div v-if="loading" class="w-100 d-flex justify-content-center pt-5">
    <div class="spinner"></div>
  </div>
  <main :class=" loading ? 'd-none' : ''">
    <div class="container-fluid" >
      <div
        class="page-header min-height-300"
        style="
          background-image: url(&quot;https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80&quot;);
          margin-right: -24px;
          margin-left: -34%;
        "
      >
        <span class="mask bg-gradient- opacity-6"></span>
      </div>
      <div class="card shadow-lg mt-n6">
        <div class="card-body p-3">
          <div class="row gx-4">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative">
                <img
                  :src="packagePicture"
                  alt="profile_image"
                  class="shadow-sm w-100 border-radius-lg"
                />
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100 d-flex align-items-center">
                <h5 class="mb-1 me-3">{{pack?.title}}</h5>
                <p class="mb-0 font-weight-bold text-sm " style="height: fit-content !important;">{{pack?.description}}</p>
              </div>
            </div>
            <div
              class="mx-auto mt-3 col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0"
            >
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-md-8">
            <div class="card" >
                <div class="card-header pb-0">
                    <h6>Liste abonnements : {{ pack?.Subscriptions.length }} abonnements</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                            Abonnement
                        </th>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                          Package
                        </th>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                          Transaction
                        </th>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                          Utilisateur
                        </th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="abonnement in pack?.Abonnements" :key="abonnement.id">
                        <td>
                            <div class="d-flex px-2 py-1">
                            <div>
                                <img
                                :src="abonnementPicture"
                                class="avatar avatar-sm me-3"
                                :alt="`abonnement${abonnement.id}`"
                                />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm"></h6>
                                <p class="text-xs text-secondary mb-0"></p>
                            </div>
                            </div>
                        </td>
                        <!--td>
                            <p class="text-xs font-weight-bold mb-0">
                              {{ capitalize(abonnement.package.title) }}
                            </p>
                            <p class="text-xs text-secondary mb-0">
                              {{ abonnement.package.price }}
                            </p>
                        </!--td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">
                            {{ capitalize(abonnement.transaction.aggregator.name) }}
                          </p>
                            <p class="text-xs text-secondary mb-0">
                              {{ abonnement.transaction.price }}
                            </p>
                            
                        </td>
                        <td-->
                          <!--p class="text-xs font-weight-bold mb-0">
                            {{ capitalize(abonnement.transaction.user.nickname) }},  {{ abonnement.transaction.user.UserType.name }}
                          </!--p>
                            <p class="text-xs text-secondary mb-0">
                              {{ abonnement.transaction.user.email }}
                            </p>
                            <p class="text-xs text-secondary mb-0">
                              {{ abonnement.transaction.user.phoneNumber }}
                            </p>
                        </td-->
                        </tr>
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
                
          
            </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">Infos Package</p>
                <argon-button color="success" size="sm" class="ms-auto" @click.prevent="openEditModal()"
                  >Modifier</argon-button
                >
              </div>
            </div>
            <div class="card-body">
              <p class="text-uppercase text-sm">Modifier un packages </p>
              <div class="row">
                <div class="">
                    <div class="input-container">
                        <argon-input
                        id="title"
                        type="text"
                        placeholder="Titre"
                        aria-label="Title"
                        v-model=form.title
                        :isRequired=true
                        />
                        <argon-input
                        id="price"
                        type="number"
                        placeholder="Prix"
                        aria-label="Price"
                        v-model="form.price"
                        :isRequired=true
                        />
                    </div>
                    <argon-textarea
                        id="description"
                        placeholder="Description"
                        aria-label="Description"
                        v-model="form.description"
                        :isRequired=true
                    >
                    </argon-textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>


  <modal v-model:isVisible="showModalEdit" @close="closeModal">
    <h3 class="modal-title">Modifier le mot de passe</h3>
    <div v-if="form.title == null && form.description == null && form.price == null" class="d-flex justify-content-center align-content-center">
      <p class=" mt-5 mb-4">Veillez entrer de nouvelles infos...</p>
    </div>
    <div v-else>
      <p>Etes-vous sur de vouloir modifier ce package ?</p>
      <div class="delete-button d-flex justify-content-around">
        <div class="text-center me-2 w-50">
          <button-styled-green
            fullWidth
            color="dark"
            variant="gradient"
            class="my-4 mb-2 d-flex justify-content-center align-content-center"
            @click.prevent="handleSubmit()"
          >
            <div v-if="loading">
              <div class="spinner "></div>
            </div>
            <div v-else>
              Confirmer
            </div> 
          </button-styled-green>
        </div>
        <div class="text-center ms-2 w-50">
          <button-styled-white
            fullWidth
            color="dark"
            variant="gradient"
            @click.prevent="closeModal"
            class="my-4 mb-2"
          >Annuler</button-styled-white>
        </div>
        
      </div>
      <div v-if="error">
          <div v-for="(item, index) in error" :key="index" class="text-center mt-2">
            {{item}}
          </div>
        </div>
    </div>
   
  </modal>

</template>
<style scoped>
  .mask {
    background: linear-gradient(to right, #AE147D, #ff7fd2) !important;
    color: white !important;
  }
  .spinner {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: radial-gradient(farthest-side,#fff 94%,#0000) top/9px 9px no-repeat, conic-gradient(#0000 30%,#fff);
      mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
      -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
      animation: spinner-c7wet2 1s infinite linear;
    }

  @keyframes spinner-c7wet2 {
    100% {
        transform: rotate(1turn);
    }
  }

</style>