<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12 bar">
          <nav-type-transactions @update:activeTab="handleActiveTab" />
          <div class="d-flex ">
            <div>
              <div
                class="pe-md-3 d-flex align-items-center ms-md-auto"
              >
                <div class="input-group">
                  <span class="input-group-text text-body">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                  <input
                    type="text"
                    v-model="searchQuery"
                    class="form-control"
                    placeholder="Type here..."
                  />
                </div>
              </div>
            </div>
            <argon-button class="d-non"  @click="openModal"> Créer </argon-button>
          </div>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-12">
          <div v-if="loading" class="w-100 d-flex justify-content-center ">
            <div class="spinner "></div>
          </div>
          <transactions-table 
            @dataRequested="handleDataRequested"
            :class=" loading==true ? 'd-none' : '' "
            :transactions="searchQuery.trim() == '' ? paginatedItems : filteredItems" 
            :aggregateurs="aggregateurs.items"
            :length="searchQuery.trim() == '' ? length : filteredItems.length" 
            :userTypes="userTypes.items"
          />      
        </div>
      </div>
      <Pagination
        :totalItems="searchQuery.trim() == '' ? length : filteredItems.length"
        :itemsPerPage="itemsPerPage"
        :currentPage="currentPage"
        @page-change="onPageChange"
        :class=" loading==true ? 'd-none' : '' "
      />
    </div>
    <modal v-model:isVisible="showModal">
      <h3 class="modal-title">Créer une transaction</h3>
        <form role="form" @submit.prevent="handleSubmit">
            
                <SelectCustomT
                id="aggregateur"
                placeholder="Aggregateur"
                aria-label="Aggregateur"
                v-model=form.aggregatorId
                :options="aggregateurs.items"
                :isRequired=true
                />

                <argon-input
                id="price"
                type="number"
                placeholder="Prix"
                aria-label="Price"
                v-model="form.price"
                :isRequired=true
                />

                <div class="radio-container">
                    <argon-radio 
                        id="status"
                        modelValue="INITIATED"
                        v-model="form.status"
                        name="status"
                        :checked="true"
                    >Initiée</argon-radio>
                    <argon-radio 
                        id="deactive"
                        modelValue="PENDING"
                        v-model="form.status"
                        name="status"
                    >En cours</argon-radio>
                    <argon-radio 
                        id="status"
                        modelValue="COMPLETED"
                        v-model="form.status"
                        name="status"
                    >Terminée</argon-radio>
                    <argon-radio 
                        id="deactive"
                        modelValue="FAILED"
                        v-model="form.status"
                        name="status"
                    >Echouée</argon-radio>
                </div>

            
            <div class="text-center">
                <argon-button
                fullWidth
                color="dark"
                variant="gradient"
                class="my-4 mb-2 d-flex justify-content-center"
                >
                <div v-if="loading == true">
                <div class="spinner"></div>
                </div>
                <div v-else>
                Creer
                </div>
                </argon-button>
            </div>
            <div v-if="error">
                <div v-for="(item, index) in error" :key="index" class="text-center mt-2">
                {{item}}
                </div>
            </div>
            
        </form>
    </modal>
  </template>
  <script setup>
  import Pagination from "./components/custom/Pagination.vue";
//   import UsersTable from "./components/custom/UsersTable.vue";
  import ArgonInput from "../components/ArgonInput.vue";
  import TransactionsTable from "./components/custom/TransactionsTable.vue";
  //   import NavTypeUser from "./components/custom/NavTypeUser.vue";
  import SelectCustomT from "../components/custom/SelectCustomT.vue";
  import ArgonRadio from "../components/ArgonRadio.vue";
  import NavTypeTransactions from "./components/custom/NavTypeTransactions.vue";
  import Modal from "./components/custom/Modal.vue";
  import ArgonButton from "../components/ArgonButton.vue";
  import { isArray } from "chart.js/helpers";
  import axios from 'axios';
  import { ref, computed, reactive, onBeforeMount } from "vue";

  const form = ref({});
  const showModal = ref(false);

  // const selectedType = ref('admin'); 
  const activeTab = ref('#tous');

  // État de la barre de recherche
  const searchQuery = ref('');

  // Fonction pour filtrer les éléments en fonction de la requête de recherche
  function openModal(){
      showModal.value = true;
      form.value.status = "INITIATED";
    }
  // Fonction pour gérer les changements d'onglet
  const handleActiveTab = (newTab) => {
    activeTab.value = newTab;
    currentPage.value = 1;
  };
  
  const transactions = reactive({
    items: []
  });
  const aggregateurs = reactive({
    items: []
  });
  const aggregateursTmp = reactive({
    items: []
  });
  const transactionTmp = reactive({
    items: []
  });
  const userTypes = reactive({
    items: []
  });
  const echoue = reactive({
    items: []
  });
  const initie = reactive({
    items: []
  });
  const encours = reactive({
    items: []
  });
  const termine = reactive({
    items: []
  });
  const filteredItems = computed(() => {
    return transactions.items.filter(item =>
      item.aggregatorReference.toLowerCase().includes(searchQuery.value.toLowerCase()) 
    );
  });
  
  const itemsPerPage = 10; // Nombre d'éléments par page
  const currentPage = ref(1);
  const paginatedItems = computed(() => {
    const start = (currentPage.value - 1) * itemsPerPage;
    let usersToPaginate = [];
    switch (activeTab.value) {
      case '#tous':
        usersToPaginate = transactions.items;
        break;
      case '#termine':
        usersToPaginate = termine.items;
        break;
      case '#encours':
        usersToPaginate = encours.items;
        break;
      case '#initie':
        usersToPaginate = initie.items;
        break;
      case '#echoue':
        usersToPaginate = echoue.items;
        break;
      default:
        usersToPaginate = [];
        break;
    }  
    return usersToPaginate.slice(start, start + itemsPerPage);
  });
  
  // Propriété calculée pour la longueur des utilisateurs
  const length = computed(() => {
    switch (activeTab.value) {
      case '#tous':
        return transactions.items.length;
      case '#termine':
        return termine.items.length;
      case '#encours':
        return encours.items.length;
      case '#initie':
        return initie.items.length;
      case '#echoue':
        return echoue.items.length;
      default:
        return 0;
    }
  });
  
  // Met à jour la page actuelle
  const onPageChange = (page) => {
    currentPage.value = page;
  };

  const handleDataRequested = (value) => {
    if (value) {
      obtainData();
    }
  };
  
  const handleSubmit = async() => {
    loading.value = true;
    error.value = [];

    const formData = ref({});
    formData.value.price = parseFloat(form.value.price);    
    formData.value.aggregatorId = form.value.aggregatorId;  
    aggregateurs.items.forEach( aggregateur => {
        if (aggregateur.id == form.value.aggregatorId) {
            formData.value.aggregatorReference = aggregateur.name;  
        }
    })
    
    formData.value.status = form.value.status;  
    formData.value.date = new Date().toISOString().split('T')[0];

    try {        
      const response = await axios.post(process.env.VUE_APP_API_URL + 'transactions', 
        formData.value,
        {
          headers: {
            Authorization: 'Bearer ' + getCookie('accessToken'),
          }
        }
      );
      
      if ((response.status >= 200 && response.status <= 299)) {
        obtainData();
        closeModal();
        form.value = {};
      }
    } catch (err) {
      if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
            error.value.push(element.error || 'An error occurred');
          });
        } else {
          error.value.push(err.response.data.message.error || 'An error occurred');
        }
       
      } else {
        error.value.push('An unexpected error occurred');
      }
    } finally {
      loading.value = false;
    }
  
  };
  
  function getCookie(name) {
    const nameEQ = name + "=";
    const ca = document.cookie.split(';');
    for(let i=0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
};
  
// Méthode pour fermer le modal
const closeModal = () => {
  showModal.value = false;
};
  
  const error = ref([]);
  const loading = ref(false);
 // const loadingTwo = ref(false);

  
  const obtainData = async() => {
    loading.value = true;
    error.value = [];
    
    try {        
      const response = await axios.get(process.env.VUE_APP_API_URL + 'transactions', {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
        }
      }); 
      const responseAggregator = await axios.get(process.env.VUE_APP_API_URL + 'aggregator', 
        {
          headers: {
            Authorization: 'Bearer ' + getCookie('accessToken'),
          }
        }
      );
      if (response.status === 200 && responseAggregator.status === 200) {
        transactionTmp.items = response.data.data;
        transactions.items = [];
        transactionTmp.items.forEach( transaction => {
          if (transaction.deletedAt == null) {
            transactions.items.push(transaction);
          }
        })

        aggregateursTmp.items = responseAggregator.data;
        aggregateurs.items = [];
        aggregateursTmp.items.forEach( aggregateur => {
          if (aggregateur.active) {
            aggregateurs.items.push(aggregateur);
          }
        })

        encours.items = [];
        termine.items = [];
        echoue.items = [];
        initie.items = [];
        transactions.items.forEach( transaction => {
          switch (transaction.status) {
            case "PENDING":
              encours.items.push(transaction);
              break;
            case "FAILED":
              echoue.items.push(transaction);
              break;
            case "COMPLETED":
              termine.items.push(transaction);
              break;
            case "INITIATED":
              initie.items.push(transaction);
              break;
            default:
              break;
          }
        });
      }
    } catch (err) {
      if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
            error.value.push(element.error || 'An error occurred');
          });
        } else {
          error.value.push(err.response.data.message.error || 'An error occurred');
        }
       
      } else {
        error.value.push('An unexpected error occurred');
      }
    } finally {
      loading.value = false;
    }
  }
   
  onBeforeMount(() => {
    obtainData();
  });
  </script>

<style scoped>
      .bar{
          display: flex;
          justify-content: space-between;
      }
      .radio-container{
          display: flex;
      }
      .radio-container div{
          padding-right: 15px;
      }
      .input-container{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
      }
      form{
          margin-top: 15px;
      }
      .modal-title{
          font-weight: 400;
      }
      .ul-down{
        -webkit-box-shadow: 4px 5px 12px 1.5px #dddddd;
        -moz-box-shadow: 4px 5px 12px 1.5px #dddddd;
        box-shadow: 4px 5px 12px 1.5px #dddddd;
        border-radius: 10px;
        background-color: white;
      }
      .spinner {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: radial-gradient(farthest-side,#fff 94%,#0000) top/9px 9px no-repeat, conic-gradient(#0000 30%,#fff);
        mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        animation: spinner-c7wet2 1s infinite linear;
      }
  
    @keyframes spinner-c7wet2 {
      100% {
          transform: rotate(1turn);
      }
    }
  </style>