<script setup>
import { onBeforeMount, onMounted, onBeforeUnmount } from "vue";
import { useStore } from "vuex";
import { useRoute } from 'vue-router';
import setNavPills from "@/assets/js/nav-pills.js";
import setTooltip from "@/assets/js/tooltip.js";
import ArgonInput from "@/components/ArgonInput.vue";
import ArgonButton from "@/components/ArgonButton.vue";
import Modal from "./components/custom/Modal.vue"
import noProfile from "@/assets/img/noProfile.png";
import UserDetailsCard from "./components/custom/UserDetailsCard.vue"
import ButtonStyledGreen from '@/components/custom/ButtonStyledGreen.vue';
import ButtonStyledWhite from '@/components/custom/ButtonStyledWhite.vue';
import { isArray } from "chart.js/helpers";
import axios from 'axios';
import { ref } from "vue";

const API_URL = process.env.VUE_APP_API_URL;
const body = document.getElementsByTagName("body")[0];
const error = ref([]);
const loading = ref(false);
const user = ref();
const role = ref();
const route = useRoute();
const newPass = ref();
const showModalPass = ref(false);

const obtainUser = async(id) => {
  loading.value = true;
  error.value = [];
  
  try {        
    const response = await axios.get(process.env.VUE_APP_API_URL + 'users/' + id, {
      headers: {
        Authorization: 'Bearer ' + getCookie('accessToken'),
      }
    });    
    if (response.status === 200) {
      user.value = response.data;
      const responseTypes = await axios.get(process.env.VUE_APP_API_URL + 'user-types/' + user.value.userTypeId, {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
        }
      });
      
      if (responseTypes.status === 200) {
        role.value = responseTypes.data;
      }
    }
  } catch (err) {
    if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
            error.value.push(element.error || 'An error occurred');
          });
        } else {
          error.value.push(err.response.data.message.error || 'An error occurred');
        }
       
      } else {
        error.value.push('An unexpected error occurred');
      }
  } finally {
    loading.value = false;
  }
}


const changePass = async() => {
  loading.value = true;

    error.value = [];
    const formData = ref({});
    formData.value.email = user.value.email;
    formData.value.password = newPass.value;
    formData.value.token = getCookie('accessToken');


    try {        
      const response = await axios.post(process.env.VUE_APP_API_URL + 'auth/reset-password/', 
        formData.value,
        {
          headers: {
            Authorization: 'Bearer ' + getCookie('accessToken'),
          }
        }
      );

      if (response.status === 200) {
        obtainUser(user.value.id);
      }
    } catch (err) {
      if (err.response && err.response.status >= 400) {
        if (isArray(err.response.data.message)) {
          err.response.data.message.forEach(element => {
              error.value.push(element.error || 'An error occurred');
            });
          } else {
            error.value.push(err.response.data.message.error || 'An error occurred');
          }
      } else {
        error.value.push('An unexpected error occurred');
      }
    } finally {
      loading.value = false;
    }
};

const openChangePassModal = () => {
  showModalPass.value = true;
};

const closeModal = () => {
  showModalPass.value = false;
  newPass.value = null;
};


const store = useStore();

function getCookie(name) {
  const nameEQ = name + "=";
  const ca = document.cookie.split(';');
  for(let i=0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
  }
  return null;
}

onMounted(() => {
  store.state.isAbsolute = true;
  setNavPills();
  setTooltip();
});
onBeforeMount(() => {
  store.state.imageLayout = "profile-overview";
  store.state.showNavbar = false;
  store.state.showFooter = true;
  store.state.hideConfigButton = true;
  body.classList.add("profile-overview");
  obtainUser(route.params.id);
});
onBeforeUnmount(() => {
  store.state.isAbsolute = false;
  store.state.imageLayout = "default";
  store.state.showNavbar = true;
  store.state.showFooter = true;
  store.state.hideConfigButton = false;
  body.classList.remove("profile-overview");
});

</script>

<template>
  <div v-if="loading" class="w-100 d-flex justify-content-center pt-5">
    <div class="spinner"></div>
  </div>
  <main :class=" loading ? 'd-none' : ''">
    <div class="container-fluid" >
      <div
        class="page-header min-height-300"
        style="
          background-image: url(&quot;https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80&quot;);
          margin-right: -24px;
          margin-left: -34%;
        "
      >
        <span class="mask bg-gradient- opacity-6"></span>
      </div>
      <div class="card shadow-lg mt-n6">
        <div class="card-body p-3">
          <div class="row gx-4">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative">
                <img
                  :src="user?.avatarPicture ? `${API_URL}${user.avatarPicture}` : noProfile"
                  alt="profile_image"
                  class="shadow-sm w-100 border-radius-lg"
                  crossorigin="use-credentials"
                />
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-1">{{user?.name}} {{user?.firstname}}</h5>
                <p class="mb-0 font-weight-bold text-sm">{{role?.name}}, {{user?.sex}}</p>
              </div>
            </div>
            <div
              class="mx-auto mt-3 col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0"
            >
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">Infos Profil</p>
                <argon-button color="success" size="sm" class="ms-auto" @click.prevent="openChangePassModal()"
                  >Modifier</argon-button
                >
              </div>
            </div>
            <div class="card-body">
              <p class="text-uppercase text-sm">Informations utilisateurs</p>
              <div class="row">
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Username</label
                  >
                  <argon-input type="text" :modelValue=user?.login :readonly="true"/>
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Email address</label
                  >
                  <argon-input type="email" :modelValue=user?.email :readonly="true"/>
                </div>
    
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Localité</label
                  >
                  <argon-input type="text" :modelValue=user?.locality :readonly="true"/>
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Numéro personnelle</label
                  >
                  <argon-input type="text" :modelValue=user?.phoneNumber :readonly="true"/>
                </div>

                <div class="col-md-12">
                    <label for="example-text-input" class="form-control-label"
                      >Mot de passe</label
                    >
                    <argon-input
                      type="text"
                      :modelValue="newPass"
                      v-model="newPass"
                      :isRequired="true"
                    />
                  </div>
              </div>

              <div v-if="role?.name === 'Gynecologue' || role?.name === 'Père Éducateur'">
                <hr class="horizontal dark" />
                <p class="text-uppercase text-sm">Informations Pro</p>
                <div class="row">
                  <div class="col-md-12">
                    <label for="example-text-input" class="form-control-label"
                      >Education</label
                    >
                    <argon-input
                      type="text"
                      :modelValue="role?.name === 'Gynecologue' ? user?.GynecologistInfos.education : user?.FatherEducatorInfos.education"
                      :readonly="true"
                    />
                  </div>
                  <div class="col-md-12">
                    <label for="example-text-input" class="form-control-label"
                      >Profession</label
                    >
                    <argon-input
                      type="text"
                      :modelValue="role?.name === 'Gynecologue' ? user?.GynecologistInfos.profession : user?.FatherEducatorInfos.profession"
                      :readonly="true"
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Numéro Pro</label
                    >
                    <argon-input 
                      type="text"
                      :modelValue="role?.name === 'Gynecologue' ? user?.GynecologistInfos.officePhoneNumber : user?.FatherEducatorInfos.officePhoneNumber"
                      :readonly="true"
                      />
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Adresse Pro</label
                    >
                    <argon-input 
                      type="text"
                      :modelValue="role?.name === 'Gynecologue' ? user?.GynecologistInfos.officeAddress : user?.FatherEducatorInfos.officeAddress"
                      :readonly="true"
                      />
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Emmail Pro</label
                    >
                    <argon-input 
                      type="text" 
                      :modelValue="role?.name === 'Gynecologue' ? user?.GynecologistInfos.officeEmail : user?.FatherEducatorInfos.officeEmail"
                      :readonly="true"
                      />
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <user-details-card :user="user" :role="role" />
        </div>
      </div>
    </div>
  </main>
  <modal v-model:isVisible="showModalPass" @close="closeModal">
    <h3 class="modal-title">Modifier le mot de passe</h3>
    <div v-if="newPass == null" class="d-flex justify-content-center align-content-center">
      <p class=" mt-5 mb-4">Veillez entrer un nouveau mot de passe...</p>
    </div>
    <div v-else>
      <p>Etes-vous sur de vouloir changer le mot de passe de {{ user.name }} {{ user.firstname }} ?</p>
      <div class="delete-button d-flex justify-content-around">
        <div class="text-center me-2 w-50">
          <button-styled-green
            fullWidth
            color="dark"
            variant="gradient"
            class="my-4 mb-2 d-flex justify-content-center align-content-center"
            @click.prevent="changePass()"
          >
            <div v-if="loading">
              <div class="spinner "></div>
            </div>
            <div v-else>
              Confirmer
            </div> 
          </button-styled-green>
        </div>
        <div class="text-center ms-2 w-50">
          <button-styled-white
            fullWidth
            color="dark"
            variant="gradient"
            @click.prevent="closeModal"
            class="my-4 mb-2"
          >Annuler</button-styled-white>
        </div>
        
      </div>
      <div v-if="error">
          <div v-for="(item, index) in error" :key="index" class="text-center mt-2">
            {{item}}
          </div>
        </div>
    </div>
   
  </modal>

</template>
<style scoped>
  .mask {
    background: linear-gradient(to right, #AE147D, #ff7fd2) !important;
    color: white !important;
  }
  .spinner {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: radial-gradient(farthest-side,#fff 94%,#0000) top/9px 9px no-repeat, conic-gradient(#0000 30%,#fff);
      mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
      -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
      animation: spinner-c7wet2 1s infinite linear;
    }

  @keyframes spinner-c7wet2 {
    100% {
        transform: rotate(1turn);
    }
  }

</style>