<template>
  <div class="py-4 container-fluid">
    <div class="row">
      <div class="col-12 bar">
        <nav-type-user @update:activeTab="handleActiveTab" />
        <div class="d-flex ">
          <div>
            <div
              class="pe-md-3 d-flex align-items-center ms-md-auto"
            >
              <div class="input-group">
                <span class="input-group-text text-body">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
                <input
                  type="text"
                  v-model="searchQuery"
                  class="form-control"
                  placeholder="Type here..."
                />
              </div>
            </div>
          </div>
          <argon-button @click="openModal"> Créer </argon-button>
        </div>
      </div>
    </div>
    <div class="mt-4 row">
      <div class="col-12">
        <div v-if="loadingTwo" class="w-100 d-flex justify-content-center ">
          <div class="spinner "></div>
        </div>
        <users-table 
          @dataRequested="handleDataRequested"
          :class=" loadingTwo==true ? 'd-none' : '' "
          :users="searchQuery.trim() == '' ? paginatedUsers : filteredItems" 
          :length="searchQuery.trim() == '' ? length : filteredItems.length" 
          :userTypes="userTypes.items"
        />      
      </div>
    </div>
    <Pagination
      :totalItems="searchQuery.trim() == '' ? length : filteredItems.length"
      :itemsPerPage="itemsPerPage"
      :currentPage="currentPage"
      @page-change="onPageChange"
      :class=" loadingTwo==true ? 'd-none' : '' "
    />
  </div>
  <modal v-model:isVisible="showModal">
    <h3 class="modal-title">Créer un utilisateur</h3>
    <form role="form" @submit.prevent="handleSubmit">
      <div class="input-container">
        <argon-input
          id="name"
          type="text"
          placeholder="Nom"
          aria-label="Name"
          :isRequired="true"
          v-model="form.name"
        />
        <argon-input
          id="firstname"
          type="text"
          placeholder="Prénom"
          aria-label="Firstname"
          :isRequired="true"
          v-model="form.firstname"
        />
      </div>
      <div class="input-container">
        <argon-input
          id="email"
          type="email"
          placeholder="Email personnel"
          aria-label="Email"
          :isRequired="true"
          v-model="form.email"
        />
        <argon-input
          id="phoneNumber"
          type="tel"
          placeholder="Numéro personnel"
          aria-label="PhoneNumber"
          :isRequired="true"
          v-model="form.phoneNumber"
          :error="phoneNumberError"
        />
      </div>
      <argon-input
        id="locality"
        type="text"
        placeholder="Addresse personnelle"
        aria-label="Locality"
        :isRequired="true"
        v-model="form.locality"
      />
      <div class="radio-container">
        <argon-radio 
          id="male"
          name="sex"
          modelValue="MALE"
          v-model="form.sex"
        >Masculin</argon-radio>
        <argon-radio 
          id="female"
          name="sex"
          modelValue="FEMALE"
          v-model="form.sex"
          :checked=true
        >Féminin</argon-radio>
      </div>
      <argon-input
        id="password"
        type="password"
        placeholder="Password"
        aria-label="Password"
        v-model="form.password"
      />
      <div v-if="form.role === 'Gynecologue' || form.role === 'Père Éducateur'">
        <div class="input-container">
          <argon-input
            id="education"
            type="text"
            placeholder="Education"
            aria-label="Education"
            v-model="form.education"
          />
          <argon-input
            :id="form.role === 'Gynecologue' ? 'grade' : 'profession'"
            type="text"
            :placeholder="form.role === 'Gynecologue' ? 'Grade' : 'Profession'"
            :aria-label="form.role === 'Gynecologue' ? 'Grade' : 'Profession'"
            v-model="form.specialization"
          />
        </div>
        <div class="input-container">
          <argon-input
            id="officephoneNumber"
            type="tel"
            placeholder="Numéro professionnel"
            aria-label="OfficePhoneNumber"
            v-model="form.officePhoneNumber"
            :error="officePhoneNumberError"
          />
          <argon-input
            id="officeemail"
            type="text"
            placeholder="Email professionnel"
            aria-label="OfficeEmail"
            v-model="form.officeEmail"
          />
        </div>
        <argon-input
          id="officeaddress"
          type="text"
          placeholder="Adresse professionnelle"
          aria-label="OfficeAddress"
          v-model="form.officeAddress"
        />
      </div>
      <div class="radio-container">
        <argon-radio 
          id="gynecologist"
          modelValue="Gynecologue"
          v-model="form.role"
          name="role"
        >Gynécologue</argon-radio>
        <argon-radio 
          id="educator"
          modelValue="Père Éducateur"
          v-model="form.role"
          name="role"
        >Père éducateur</argon-radio>
        <argon-radio 
          id="admin"
          modelValue="Admin"
          v-model="form.role"
          name="role"
        >Admin</argon-radio>
        <argon-radio 
          id="standard"
          modelValue="Standard"
          v-model="form.role"
          name="role"
          :checked="true"
        >Standard</argon-radio>
      </div>
      <div class="text-center">
        <argon-button
          fullWidth
          color="dark"
          variant="gradient"
          class="my-4 mb-2 d-flex justify-content-center align-content-center"
          :disabled="officePhoneNumberError || phoneNumberError || !isFormValid"
        >
          <div v-if="loading">
            <div class="spinner"></div>
          </div>
          <div v-else>
            Créer
          </div>
        </argon-button>
      </div>
      <div v-if="error">
        <div v-for="(item, index) in error" :key="index" class="text-center mt-2">
          {{item}}
        </div>
      </div>
    </form>
  </modal>
</template>
<script setup>
import Pagination from "./components/custom/Pagination.vue";
import UsersTable from "./components/custom/UsersTable.vue";
import NavTypeUser from "./components/custom/NavTypeUser.vue";
import Modal from "./components/custom/Modal.vue";
import ArgonButton from "../components/ArgonButton.vue";
import ArgonInput from "../components/ArgonInput.vue";
import ArgonRadio from "../components/ArgonRadio.vue";
import { isArray } from "chart.js/helpers";
import axios from 'axios';
import { ref, computed, reactive, onBeforeMount } from "vue";
const form = ref({
  role: 'Standard',
  sex: 'FEMALE',
  officePhoneNumber: '',
  phoneNumber: ''
});
const showModal = ref(false);
// const selectedType = ref('admin'); 
const activeTab = ref('#tous');
// État de la barre de recherche
const searchQuery = ref('');
// Fonction pour filtrer les éléments en fonction de la requête de recherche
function openModal(){
    showModal.value = true;
    form.value.role = 'Standard';
    form.value.sex = 'FEMALE';
  }
const isFormValid = computed(() => {
  if (
    !form.value.name ||
    !form.value.firstname ||
    !form.value.email ||
    !form.value.phoneNumber ||
    !form.value.locality ||
    !form.value.sex ||
    !form.value.password ||
    (form.value.role === 'Gynecologue' || form.value.role === 'Père Éducateur') &&
    (!form.value.education || !form.value.specialization || !form.value.officePhoneNumber || !form.value.officeEmail || !form.value.officeAddress)
  ) {
    return false;
  }
  return true;
});


// Fonction pour gérer les changements d'onglet
const handleActiveTab = (newTab) => {
  activeTab.value = newTab;
  currentPage.value = 1;
};
const officePhoneNumberError = computed(() => {
  if ( !form?.value?.officePhoneNumber ) return false;
  const officePhoneNumber = form?.value?.officePhoneNumber?.toString();
  // Vérifie que le numéro commence par un '+' optionnel et contient uniquement des chiffres
  const isValidPhoneNumber = /^[+]?\d+$/.test(officePhoneNumber);
  // Retourne vrai si la longueur n'est pas valide ou si ce n'est pas un numéro valide
  return !(officePhoneNumber && officePhoneNumber.length > 0 && [8, 10, 12, 14].includes(officePhoneNumber.length) && isValidPhoneNumber);
});

const phoneNumberError = computed(() => {
  if ( !form?.value?.phoneNumber ) return false;
  const phoneNumber = form?.value?.phoneNumber?.toString();
  // Vérifie que le numéro commence par un '+' optionnel et contient uniquement des chiffres
  const isValidPhoneNumber = /^[+]?\d+$/.test(phoneNumber);
  // Retourne vrai si la longueur n'est pas valide ou si ce n'est pas un numéro valide
  return !(phoneNumber && phoneNumber.length > 0 && [8, 10, 12, 14].includes(phoneNumber.length) && isValidPhoneNumber);
});

const users = reactive({
  items: []
});
const userTypes = reactive({
  items: []
});
const admins = reactive({
  items: []
});
const gynecologists = reactive({
  items: []
});
const educators = reactive({
  items: []
});
const usersTmp = reactive({
  items: []
});
const standards = reactive({
  items: []
});
const filteredItems = computed(() => {
  return users.items.filter(item =>
    item.name.toLowerCase().includes(searchQuery.value.toLowerCase()) ||
    item.firstname.toLowerCase().includes(searchQuery.value.toLowerCase()) ||
    item.role.toLowerCase().includes(searchQuery.value.toLowerCase())
  );
});

const itemsPerPage = 10; // Nombre d'éléments par page
const currentPage = ref(1);
const paginatedUsers = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage;
  let usersToPaginate = [];
  switch (activeTab.value) {
    case '#tous':
      usersToPaginate = users.items;
      break;
    case '#admins':
      usersToPaginate = admins.items;
      break;
    case '#gynecologists':
      usersToPaginate = gynecologists.items;
      break;
    case '#educators':
      usersToPaginate = educators.items;
      break;
    case '#standards':
      usersToPaginate = standards.items;
      break;
    default:
      usersToPaginate = [];
      break;
  }  
  return usersToPaginate.slice(start, start + itemsPerPage);
});

// Propriété calculée pour la longueur des utilisateurs
const length = computed(() => {
  switch (activeTab.value) {
    case '#tous':
      return users.items.length;
    case '#admins':
      return admins.items.length;
    case '#gynecologists':
      return gynecologists.items.length;
    case '#educators':
      return educators.items.length;
    case '#standards':
      return standards.items.length;
    default:
      return 0;
  }
});

// Met à jour la page actuelle
const onPageChange = (page) => {
  currentPage.value = page;
};

const handleSubmit = async() => {
  loading.value = true;
  error.value = [];
  const formData = ref({});
  formData.value.name = form.value.name;
  formData.value.firstname = form.value.firstname;
  formData.value.nickname = form.value.name + form.value.firstname;
  formData.value.email = form.value.email;
  formData.value.phoneNumber = !form.value.phoneNumber.startsWith('+229') 
    ? '+229' + form.value.phoneNumber 
    : form.value.phoneNumber;
  formData.value.login = form.value.firstname + form.value.phoneNumber;
  formData.value.password = form.value.password;
  formData.value.locality = form.value.locality;
  formData.value.sex = form.value.sex;
  formData.value.password = form.value.password;
  userTypes.items.forEach( item => {
    if (form.value.role == item.name) {
      formData.value.userTypeId = item.id;
    }
  })
  const gyneco = ref({});
  const educator = ref({});

  switch (form.value.role) {
    case 'Gynecologue':
      gyneco.value.officePhoneNumber = !form.value.officePhoneNumber.startsWith('+229') 
          ? '+229' + form.value.officePhoneNumber 
          : form.value.officePhoneNumber;
      gyneco.value.officeAddress = form.value.officeAddress;
      gyneco.value.officeEmail = form.value.officeEmail;
      gyneco.value.education = form.value.education;
      gyneco.value.grade = form.value.specialization;
      gyneco.value.active = true;
      formData.value.GynecologistInfos = gyneco.value;
      break;
    case 'Père Éducateur':
      educator.value.officePhoneNumber = !form.value.officePhoneNumber.startsWith('+229') 
        ? '+229' + form.value.officePhoneNumber 
        : form.value.officePhoneNumber;
      educator.value.officeAddress = form.value.officeAddress;
      educator.value.officeEmail = form.value.officeEmail;
      educator.value.education = form.value.education;
      educator.value.profession = form.value.specialization;
      educator.value.active = true;
      formData.value.FatherEducatorInfos = educator.value;
      break;
    default:
      break;
  }
  
  try {        
    const response = await axios.post(process.env.VUE_APP_API_URL + 'users', 
      formData.value,
      {
        headers: {
          Authorization: 'Bearer ' + getCookie('accessToken'),
        }
      }
    );
    if (response.status === 200) {
      obtainData();
      closeModal();
      form.value = {};
    }
  } catch (err) {
    if (err.response && err.response.status >= 400) {
      if (isArray(err.response.data.message)) {
        err.response.data.message.forEach(element => {
          error.value.push(element.error || 'An error occurred');
        });
      } else {
        error.value.push(err.response.data.message.error || 'An error occurred');
      }
     
    } else {
      error.value.push('An unexpected error occurred');
    }
  } finally {
    loading.value = false;
  }

};

const handleDataRequested = (value) => {
    if (value) {
      obtainData();
    }
  };

function getCookie(name) {
  const nameEQ = name + "=";
  const ca = document.cookie.split(';');
  for(let i=0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
  }
  return null;
}

// Méthode pour fermer le modal
const closeModal = () => {
  showModal.value = false;
};

const error = ref([]);
const loading = ref(false);
const loadingTwo = ref(false);

const obtainData = async() => {
  loadingTwo.value = true;
  error.value = [];
  
  try {        
    const response = await axios.get(process.env.VUE_APP_API_URL + 'users', {
      headers: {
        Authorization: 'Bearer ' + getCookie('accessToken'),
      }
    }); 
    const responseTypes = await axios.get(process.env.VUE_APP_API_URL + 'user-types', {
      headers: {
        Authorization: 'Bearer ' + getCookie('accessToken'),
      }
    });    
    if (response.status === 200 && responseTypes.status === 200) {
      usersTmp.items = response.data.data;
      userTypes.items = responseTypes.data;

      usersTmp.items.forEach( user => {
        userTypes.items.forEach(type => {
          if ( user.userTypeId == type.id){
            user.role = type.name;
          }
        });
      });

      users.items = [];
      usersTmp.items.forEach( user => {
        if ( user.active ) {
          users.items.push(user);
        }
      });

      admins.items = [];
      standards.items = [];
      gynecologists.items = [];
      educators.items = [];
      users.items.forEach( user => {
        switch (user.role) {
          case 'Admin':
            admins.items.push(user);
            break;
          case 'Gynecologue':
            gynecologists.items.push(user);
            break;
          case 'Père Éducateur':
            educators.items.push(user);
            break;
          case 'Standard':
            standards.items.push(user);
            break;
          default:
            break;
        }
      });
    }
  } catch (err) {
    if (err.response && err.response.status >= 400) {
      if (isArray(err.response.data.message)) {
        err.response.data.message.forEach(element => {
          error.value.push(element.error || 'An error occurred');
        });
      } else {
        error.value.push(err.response.data.message.error || 'An error occurred');
      }
     
    } else {
      error.value.push('An unexpected error occurred');
    }
  } finally {
    loadingTwo.value = false;
  }
}
 
onBeforeMount(() => {
  obtainData();
});
</script>
<style scoped>
    .bar{
        display: flex;
        justify-content: space-between;
    }
    .radio-container{
        display: flex;
    }
    .radio-container div{
        padding-right: 15px;
    }
    .input-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    form{
        margin-top: 15px;
    }
    .modal-title{
        font-weight: 400;
    }
    .ul-down{
      -webkit-box-shadow: 4px 5px 12px 1.5px #dddddd;
      -moz-box-shadow: 4px 5px 12px 1.5px #dddddd;
      box-shadow: 4px 5px 12px 1.5px #dddddd;
      border-radius: 10px;
      background-color: white;
    }
    .spinner {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: radial-gradient(farthest-side,#fff 94%,#0000) top/9px 9px no-repeat, conic-gradient(#0000 30%,#fff);
      mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
      -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
      animation: spinner-c7wet2 1s infinite linear;
    }

  @keyframes spinner-c7wet2 {
    100% {
        transform: rotate(1turn);
    }
  }
</style>