<!--script setup>
const emit = defineEmits(["update:modelValue"]);

defineProps({
  id: {
    type: String,
    required: true,
  },
  placeholder: {
    type: String,
    default: "",
  },
  rows: {
    type: Number,
    default: 5,
  },
  modelValue: {
    type: String,
    default: "",
  },
});
</!--script>
<template->
  <div class="form-group">
    
    <textarea
      :id="id"
      class="form-control"
      :value="modelValue"
      :rows="rows"
      :placeholder="placeholder"
       @input="emit('update:modelValue', $event.target.value)"
    ></textarea>
  </div>
</template-->


<script setup>
import { computed } from 'vue';
const emit = defineEmits(["update:modelValue"]);

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
  placeholder: {
    type: String,
    default: "",
  },
  rows: {
    type: Number,
    default: 5,
  },
  modelValue: {
    type: String,
    default: "",
  },
});

// Validation de la description (ici, je valide qu'elle soit entre 300 et 3001 caractères)
const descriptionError = computed(() => {
  if ( props.modelValue.trim() == null || props.modelValue.trim() == '') return false;
  const description = props.modelValue.trim(); // Assure-toi que les espaces sont ignorés
  return !(description.length > 199 && description.length <= 3500);
});
</script>

<template>
  <div class="form-group">
    <textarea
      :id="id"
      class="form-control"
      :value="modelValue"
      :rows="rows"
      :placeholder="placeholder"
      @input="emit('update:modelValue', $event.target.value)"
      :class="{'is-invalid': descriptionError}"
      ></textarea>
     
      <div v-if="descriptionError" class="invalid-feedback">
        La description doit être entre 200 et 3500 caractères.
      </div>
    </div>
  </template>
  
  <style scoped>
  /* Styles pour afficher l'erreur */
  .is-invalid {
    border-color: #dc3545;
  }
  
  .invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
  }
  </style>
  