<script setup>
import { defineProps, defineEmits, watch } from 'vue';

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  id: {
    type: String,
    required: true,
  },
  checked: {
    type: Boolean,
    default: false,
  },
  modelValue: {
    type: String,
    required: true,
  },
});

const emit = defineEmits(['update:modelValue']);

// Watch for changes to the checked prop and emit an event if needed
watch(() => props.checked, (newChecked) => {
  if (newChecked) {    
    emit('update:modelValue', props.modelValue);
  }
});


</script>

<template>  
  <div class="form-check">
    <input
      :id="id"
      class="form-check-input"
      type="radio"
      :name="name"
      :value="modelValue"
      :checked="checked"
      @change="emit('update:modelValue', $event.target.value);"
    />
    <label class="custom-control-label" :for="id">
      <slot />
    </label>
  </div>
</template>

<style scoped>
.form-check-input:checked[type=radio] {
  background-image: linear-gradient(310deg, #AE147D 0%, #ff7fd2 100%);
}
</style>
