<script setup>
import { ref, reactive, onBeforeMount } from 'vue';
import axios from 'axios';
import { isArray } from "chart.js/helpers";

// État des erreurs et du chargement
const API_URL = process.env.VUE_APP_API_URL;
const error = ref([]);
const loadingTwo = ref(false);
// État pour les événements et carrousels
const events = reactive({ items: [] });
const carrousels = reactive({ items: [] });
const eventsTmp = reactive({ items: [] });
const carrouselsTmp = reactive({ items: [] });
const contenu = reactive({ items: [] });
const images = reactive({ items: [] });

function getCookie(name) {
    const nameEQ = name + "=";
    const ca = document.cookie.split(';');
    for(let i=0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
};

function parseUrlToString(url) {
  if (url == null) return null
  return url.replace(/\\/g, '/');
}


// Récupération des données pour les événements et carrousels
async function obtainData ()  {
  loadingTwo.value = true;
  error.value = [];

  try {
    const [responseEvents, responseCarrousels] = await Promise.all([
      axios.get(process.env.VUE_APP_API_URL + 'events', {
        headers: { Authorization: 'Bearer ' + getCookie('accessToken') }
      }),
      axios.get(process.env.VUE_APP_API_URL + 'carrousels', {
        headers: { Authorization: 'Bearer ' + getCookie('accessToken') }
      })
    ]);

    if (responseEvents.status === 200 && responseCarrousels.status === 200) {
      eventsTmp.items = responseEvents.data.data;
      events.items = [];
      carrouselsTmp.items = responseCarrousels.data.data;
      carrousels.items = [];

      eventsTmp.items.forEach( event => {
        if ( event.active ) {
          events.items.push(event); 
          images.items.push(event.image);          
          contenu.items.push(event);
        }
      });
      carrouselsTmp.items.forEach( carrousel => {
        if ( carrousel.active ) {
          carrousels.items.push(carrousel);
          images.items.push(carrousel.image);
          contenu.items.push(carrousel);
        }
      });
      
    }
  } catch (err) {
    if (err.response && err.response.status >= 400) {
      if (isArray(err.response.data.message)) {
        err.response.data.message.forEach(element => {
          error.value.push(element.error || 'An error occurred');
        });
      } else {
        error.value.push(err.response.data.message.error || 'An error occurred');
      }
     
    } else {
      error.value.push('An unexpected error occurred');
    }
  } finally {
    loadingTwo.value = false;
  }
};

onBeforeMount(() => {
  obtainData();
});

</script>

<template>
  <div class="card card-carousel overflow-hidden h-100 p-0">
    <div
      id="carouselExampleCaptions"
      class="carousel slide h-100"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner border-radius-lg h-100">
        <div
          class="carousel-item h-100 active"
          :style="{
            backgroundImage:
              'url(' + require('@/assets/img/carousel-1.jpg') + ')',
            backgroundSize: 'cover',
          }"
        >
          <div
            class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5"
          >
            <div
              class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3"
            >
              <i class="ni ni-camera-compact text-dark opacity-10"></i>
            </div>
            <h5 class="text-white mb-1">Get started with Argon</h5>
            <p>
              There’s nothing I really wanted to do in life that I wasn’t able
              to get good at.
            </p>
          </div>
        </div>
        <div
          class="carousel-item h-100"
          :style="{
            backgroundImage:
              'url(' + require('@/assets/img/carousel-2.jpg') + ')',
            backgroundSize: 'cover',
          }"
        >
          <div
            class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5"
          >
            <div
              class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3"
            >
              <i class="ni ni-bulb-61 text-dark opacity-10"></i>
            </div>
            <h5 class="text-white mb-1">Faster way to create web pages</h5>
            <p>
              That’s my skill. I’m not really specifically talented at anything
              except for the ability to learn.
            </p>
          </div>
        </div>
        <div v-for="(contenuItem, index) in contenu.items" :key="index"
          class="carousel-item h-100"
          
          :style="{
            backgroundImage:
              'url(' + API_URL + parseUrlToString(images.items[index]) + ')',
            backgroundSize: 'cover',
          }"
        >
        <!-- Précharge l'image avec crossorigin -->
        <img 
          :src="API_URL + parseUrlToString(images.items[index])" 
          crossorigin="use-credentials" 
          alt="image"
          style="display: none;" 
        >
          <div
            class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5"
          >
            <div
              class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3"
            >
              <i class="ni ni-trophy text-dark opacity-10"></i>
            </div>
            <h5 class="text-white mb-1"></h5>
            <p>
              {{ contenuItem.text }}
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev w-5 me-3"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next w-5 me-3"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</template>
